<!DOCTYPE html>
<html  ng-app="MainApp" ng-controller="IndexCtrl">
<head>
<meta charset="utf-8">
<link href="styles/index.css" rel="stylesheet">
<link href="styles/zui.min.css" rel="stylesheet">
<!--日历插件-->
<link href="libs/datetimepicker/datetimepicker.css" rel="stylesheet"/>
</head>

<body>

<div class="bg">
  <div class="top">
    <section id="navbars">
      <nav class="navbar" role="navigation">
        <div class="navbar-header"> <a class="navbar-brand" href="#/" onclick="$('.activeIndex').removeClass('activeIndex');">首页</a> </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-collapse-example">
          <ul class="nav navbar-nav">
            <li><a href="javascript:;" ng-click="goTo('#/',$event);">首页</a></li>
            <li><a href="javascript:;" ng-click="goTo('#/productList',$event);">产品</a></li>
            <li><a href="javascript:;" ng-click="goTo('#/groupMain',$event);">圈子</a></li>
            <li><a href="javascript:;" ng-click="goTo('#/newsList',$event);">新闻</a></li>
          </ul>
          <form class="navbar-form navbar-left" role="search" name="queryProductForm" ng-model="queryProductForm" novalidate="true">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="搜索产品" ng-model="queryCondition" name="queryCondition" vsqlinjection>
              <div class="blue" ng-show="queryProductForm.queryCondition.$dirty && queryProductForm.queryCondition.$error.vsqlinjection">*禁止输入非法字符:{{queryCondition}}</div>
            </div>
            <button type="submit" class="btn btn-default" ng-click="query(queryCondition)" ng-disabled="queryProductForm.$invalid">搜索</button>
          </form>
          <!-- 登陆前显示-->
          <ul class="nav navbar-nav navbar-right" ng-show="beforeLogin">
            <li><a href="javascript:;" ng-click="goTo('#/register',$event);">注册</a></li>
            <li><a href="" data-toggle="modal"  data-target="#denglu" onclick="$('.activeIndex').removeClass('activeIndex');">登陆</a></li>
            <li><a href="javascript:;" ng-click="goTo('#/productShoppingCart',$event);"><i class="icon-shopping-cart"></i> 购物车 <span class="label label-badge label-info">{{cartProductsTotal}}</span></a>
            </li>
          </ul>
          <!-- 登陆前显示结束--> 
          <!-- 登陆后显示-->
          <div class="dengluhou" ng-show="afterLogin">
            <ul class="nav navbar-nav navbar-right">
              <li> <a href="javascript:;" ng-click="goTo('#/myForm',$event);"> 我的订单</a> </li>
              <li>
                 <a href="javascript:;" ng-click="goTo('#/messages',$event);"><i class="icon-volume-up"></i> 消息 <span class="label label-badge label-warning">{{unReadMessageCountOnIndex}}</span></a>
              </li>
              <li > <a href="" data-toggle="dropdown"  class="dropdown-toggle" onclick="$('.activeIndex').removeClass('activeIndex');">{{loginedName}} <i class="icon-caret-down"></i> </a>
                <ul class=" pull-right dropdown-menu  dropdown-close">
                  <li> <a href="#/accountSetting"> <i class="icon-cog"></i> 账号设置 </a> </li>
                  <li class="divider"></li>
                  <li> <a href="#/follow"> <i class="icon-cog"></i> 我的关注 </a> </li>
                  <li class="divider"></li>
                  <li> <a href="#/userAddress"> <i class="icon-user"></i> 收货地址 </a> </li>
                  <li class="divider"></li>
                  <li> <a href="#/releaseNews"> <i class="icon-list-alt"></i> 发布新闻</a> </li>
                  <li class="divider"></li>
                  <li> <a href="#/releaseProduct"> <i class="icon-list-alt"></i> 发布产品</a> </li>
                  <li class="divider"></li>
                  <li> <a href="#/adver"> <i class="icon-list-alt"></i> 广告</a> </li>
                  <li class="divider"></li>
                  <li ng-controller="logoutCtrl"> <a href="javascript:;"  ng-click="logout();"> <i class="icon-off"></i> 退出 </a> </li>
                </ul>
              </li>
              <li>
                  <a href="javascript:;" ng-click="goTo('#/productShoppingCart',$event);"><i class="icon-shopping-cart"></i> 购物车 <span class="label label-badge label-info">{{cartProductsTotal}}</span></a>
              </li>
            </ul>
          </div>
          <!-- 登陆后显示结束--> 
        </div>
        <!-- /.navbar-collapse --> 
      </nav>
    </section>
  </div>
</div>
<!--导航结束-->
<!--滚动图开始-->
<div style=" width:100%; margin-top:-20px;display: none;" id="banner">
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic1" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-generic1" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" ng-repeat="mainOneT00 in mainOneT00s" ng-if="$first">
               <a href="#/productDetail/{{mainOneT00[0]}}"><img ng-src="{{mainOneT00[3]}}" class="bannerimg" style="height: 450px; width: 100%; background-position: center center;background-repeat: no-repeat; margin-top: -20px; cursor: pointer;" /></a>

            </div>
            <div class="item" ng-repeat="mainOneT00 in mainOneT00s" ng-if="!$first">
               <a href="#/productDetail/{{mainOneT00[0]}}"><img ng-src="{{mainOneT00[3]}}" class="bannerimg" style="height: 450px; width: 100%; background-position: center center;background-repeat: no-repeat; margin-top: -20px; cursor: pointer;"/></a>

            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic1" data-slide="prev">
            <span class="icon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic1" data-slide="next">
            <span class="icon-chevron-right"></span>
        </a>
    </div>
</div>
<!--滚动图结束-->
<div ng-view > </div>

<!-- /.page-content -->

</div>

<!-- 底部开始 -->
<div class="footer">
  <div  class="footer-top">
    <div class="cont">
      <div class="col-md-6"><img src="images/2.png" width="79" height="74">提供7天内无条件退货，30天无条件换货保障！</div>
      <div class="col-md-6"><img src="images/3.png" width="79" height="74">咨询热线：4000-078-087,为您提供,方便快捷服务！</div>
    </div>
  </div>
  <!-- 底部头部结束 -->
  <div class="footer-bottom" >
    <div class="cont">
      <div class="row">
        <div class="col-md-4">
          <h2>限时预购网站</h2>
          <p style="color:#ACEAFA;">全中国最新最好的智能产品都在这独家首发！全新的《首发模式》可以帮助硬件团队、渠道和消费者三方快速对接！让创新产品在最短的时间快速获得预订销量，建立品牌知名度！同时让消费者以优惠的价格参与到产品的诞生过程中！</p>
          <p class="pull-right"><a  href="#"style="color:#FFF" >服务介绍说明>></a></p>
        </div>
        <div class="col-md-4">
          <h2>消费者可以得到什么？</h2>
          <p style="color:#ACEAFA;">如果你是新奇特3C产品的爱好者，在这里，你可以找到全中国最新奇、最有创意、最好玩的智能产品，而且你可以用市场价3-7折的超低价格抢先入手尚未上市智能产品！并提供7天内无条件退货，30天无条件换货保障！</p>
          <p class="pull-right"><a  href="#" style="color:#FFF">轻松尝鲜，前往产品列表>></a></p>
        </div>
        <div class="col-md-4">
          <h2>硬件团队可以得到什么？</h2>
          <p style="color:#ACEAFA;">针对智能硬件团队，我们帮你在30天内面向：至少500万以上的智能产品爱好者、国内外超过1000家的线上线下渠道、100多家媒体和 200多家的投资机构，迅速打开产品知名度，并快速积累大量真实订单！</p>
          <p class="pull-right"><a  href="#" style="color:#FFF">立即发布，前往提交产品页面>></a></p>
        </div>
      </div>
    </div>
    <div class="footer-bottom" style="border-top:1px solid #066;">
      <div class="cont">
        <div class="row">
          <div class=" bottomlist text-center">
            <p> </a> <a href="">服务介绍</a> <a href="">产品规范</a> <a href="">常见问题</a> <span>|</span> <a href="">服务条款</a> <a href="">隐私权政策</a> <a href="">关于我们</a> <a href="">加入我们</a> <a href="">客服中心</a> </p>
            <p class="hrefw text-center">Copyright Reserved 2013-2014©捷云易商（www.jetcloudtech.com ）| 京ICP备13045359号</p>
            <p class="hrefw text-center">捷云易商(北京)科技有限公司 版权所有 2013-2014</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 回顶部 -->

<div class="modal" id="denglu" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle"   ng-controller="loginCtrl">
  <div class="modal-dialog">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close();">&times;</button>
        <h4 class="modal-title" id="resizedModalTitle"> 用户登陆 </h4>
      </div>
      <div class="modal-body">
        <form name="frmLogin" class="form-horizontal" role="form" method='get' ng-model="objLoginInfo">
          <div class="container" >
            <div class="col-md-12">
              <div class="form-group">
                <label class="col-md-3 control-label bluezi" >用户名：</label>
                <div class="col-md-7">
                  <div class="input-group">
                    <input type='text'  class='form-control' placeholder="输入电子邮件地址"
                                               ng-model="objLoginInfo.username" name="username" required emailmobile/>
                    <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><i class="icon-user"></i></button>
                    </span>
                  </div>
                </div>
                  <div class="col-md-1" ng-show="frmLogin.username.$valid"><i class="icon-ok green"></i></div>
                  <div class="col-md-9 col-md-offset-3 ha30 blue" ng-show="frmLogin.username.$dirty && frmLogin.username.$invalid">&nbsp;* <span ng-show="frmLogin.username.$error.emailmobile">请输入正确的电子邮箱地址或手机号</span> </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label bluezi">密码：</label>
                <div class="col-md-7">
                  <div class="input-group">
                    <input type='password'  class='form-control' placeholder="输入密码" required
                                   name="password" ng-model="objLoginInfo.password" ng-minlength=6  ng-maxlength=20/>
                    <span class="input-group-btn">
                    <button class="btn btn-info" type="button"><i class="icon-lock"></i></button>
                    </span>
                  </div>
                  <div class="col-md-12 pt10 ha30 blue" ng-show="frmLogin.password.$dirty && frmLogin.password.$invalid">* <span ng-show="frmLogin.password.$error.required">请输入您的密码</span> <span ng-show="frmLogin.password.$error.minlength ||
                                               frmLogin.password.$error.maxlength">密码由6-20字符组成</span></div>
                </div>
                  <div class="col-md-1" ng-show="frmLogin.password.$valid"><i class="icon-ok green"></i></div>
              </div>
              <div class="col-md-5 pull-right"><a href="">忘记密码</a></div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="reset()"
                        ng-disabled="!frmLogin.$dirty">重置</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="update(objLoginInfo)"
                        ng-disabled="frmLogin.$invalid">登陆</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>

<!-- /.modal -->

<div class="fixtop"><a href="#top"></a></div>
<script type="text/javascript" src="libs/jquery/jquery.min.js"></script>
<script type="text/javascript" src="libs/ZUI/js/example.js"></script>
<script type="text/javascript" src="libs/ZUI/js/zui.min.js"></script>
<script type="text/javascript" src="libs/angular/angular.js"></script>
<script type="text/javascript" src="libs/angular-route/angular-route.min.js"></script>
<script src="libs/angular-resource/angular-resource.min.js"></script> 
<script src="libs/angular-animate/angular-animate.min.js"></script>
<script src="libs/angular-file-upload/angular-file-upload.js"></script>
<script src="scripts/app.js"></script>
<!-- controller JS -->
<script src="scripts/controllers/ctrProductList.js"></script> 
<script src="scripts/controllers/ctrProductDetail.js"></script> 
<script src="scripts/controllers/ctrIndex.js"></script>
<script src="scripts/controllers/ctrMain.js"></script>
<script src="scripts/controllers/ctrLogin.js"></script> 
<script src="scripts/controllers/ctrProductOrder.js"></script> 
<script src="scripts/controllers/ctrUserAddress.js"></script> 
<script src="scripts/controllers/ctrNews.js"></script> 
<script src="scripts/controllers/ctrNewsList.js"></script> 
<script src="scripts/controllers/ctrProductShoppingCart.js"></script>
<script src="scripts/controllers/ctrMyForm.js"></script> 
<script src="scripts/controllers/ctrUserRegister.js"></script> 
<script src="scripts/controllers/ctrUserFollow.js"></script>
<script src="scripts/controllers/ctrViewDetails.js"></script>
<script src="scripts/controllers/ctrUserAccountSetting.js"></script>
<script src="scripts/controllers/ctrGroupMain.js"></script>
<script src="scripts/controllers/ctrGroupDetail.js"></script>
<script src="scripts/controllers/ctrCreateGroup.js"></script>
<script src="scripts/controllers/ctrGroupTopicDetail.js"></script>
<script src="scripts/controllers/ctrEditGroupTopic.js"></script>
<script src="scripts/controllers/ctrManageGroup.js"></script>
<script src="scripts/controllers/ctrReleaseNews.js"></script>
<script src="scripts/controllers/ctrEditNews.js"></script>
<script src="scripts/controllers/ctrMessageMain.js"></script>
<script src="scripts/controllers/ctrMessageDetail.js"></script>
<script src="scripts/controllers/ctrReleaseProduct.js"></script>
<script src="scripts/controllers/ctrPreviewProductDetail.js"></script>
<script src="scripts/controllers/ctrAdvertising.js"></script>

<script src="scripts/services/svcCommon.js"></script>
<script src="scripts/services/svcLogin.js"></script>
<script src="scripts/services/svcUEditor.js"></script>
<script src="scripts/filters/fltCommon.js"></script>
<script src="scripts/directives/drtCommon.js"></script>


<script src="libs/cryptojslib/rollups/md5.js"></script> 
<script src="libs/cryptojslib/rollups/aes.js"></script> 
<script src="libs/cryptojslib/components/pad-zeropadding-min.js"></script> 
<script src="libs/jctlibs/function.js"></script>
<script src="libs/angular-file-upload/angular-file-upload.js"></script>
<!-- 百度编辑器 -->
<script type="text/javascript" charset="utf-8" src="libs/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="libs/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="libs/ueditor/lang/zh-cn/zh-cn.js"></script>
<!--日历插件-->
<script type="text/javascript" src="libs/datetimepicker/datetimepicker.js" charset="utf-8"></script>

<script src="libs/jctlibs/base64.js"></script>
</body>
</html>

