<style type="text/css">
    .head-portrait img {
        vertical-align: middle;
        height: 80px;
        width: 80px;
    }
</style>
<div class="container">
    <div class="cont">
        <div class="col-md-12">
            <div class="col-md-12">
                <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
                    <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;"
                                                                  ng-click="vm.activeTab = 1">个人资料</a>
                    </li>

                    <li ng-class="{active: vm.activeTab == 3}"><a href="javascript:;"
                                                                  ng-click="vm.activeTab = 2">更改我的密码</a>
                    </li>
                </ul>
                <div class="tab-content tab-bordered mp20  ">
                    <div class="tab-panel" ng-show="vm.activeTab == 1">
                        <form class="form-horizontal" role="form" name="personalDataForm" ng-model="personalDataForm">
                            <div class="col-md-9 marginb">
                                <div class="container">
                                    <div class="col-md-12">
                                        <div class="alert with-icon mp10 "><i class="icon-info-sign"></i>

                                            <div class="content">我们团队及时向大家说明并积极解决问题，也希望大家能给予谅解并耐心等待。</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 bluezi">昵称显示：</label>

                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input type='text' class='form-control'/>
                                                        <span class="input-group-btn">
                                                        <button class="btn btn-info" type="button"><i
                                                                class="icon-user"></i></button>
                                                        </span>
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-7 col-md-offset-3 ha30"> 您的邮箱有误，请改正</div>-->
                                        </div>
                                        <p class="title">备注内容</p>

                                        <div class="col-md-12">
                                            <textarea name="" cols="" rows=""
                                                      style="width:100%; height:100px; border:1px solid #ccc;"></textarea>
                                        </div>

                                        <div class="col-md-12 text-center mp20">
                                            <button class="btn btn-info" ng-click="savePersonalData();">保存设置</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    <div class="alert alert-info"><strong>Hi!</strong> 请上传您的头像。</div>
                                    <div class="col-md-12 head-portrait">

                                        <img id="hiId" src="../images/defaultheader.jpg" width="80" height="80"/></div>

                                    <input ng-file-select name="personalDataForm_header"
                                           ng-model="personalDataForm.header" type="file" size="4" single
                                           accept="image/gif,image/png,image/jpeg"/>

                                    <div nowrap>
                                        <button type="button" class="btn btn-success btn-xs"
                                                ng-click="uploader.queue[0].upload()"
                                                ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading ||uploader.queue[0].isSuccess">
                                            <span>上传</span>
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs"
                                                ng-click="uploader.queue[0].cancel()"
                                                ng-disabled="!uploader.queue[0].isUploading">
                                            <span>取消</span>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs"
                                                ng-click="uploader.queue[0].remove()">
                                            <span>清空</span>
                                        </button>
                                    </div>

                                </div>


                            </div>
                        </form>
                    </div>
                    <!--个人资料结束-->


                    <div class="tab-panel " ng-show="vm.activeTab == 2">
                        <div class="col-md-9 marginb">
                            <form class="form-horizontal" role="form" method='post' ng-model="updatePasswordForm"
                                  name="updatePasswordForm" novalidate="true">
                                <div class="container">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label bluezi">已有密码：</label>

                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input type='password' class='form-control'
                                                           ng-model="updatePasswordForm.OPwd"
                                                           name="updatePasswordForm_OPwd" placeholder="请输入您的原密码"
                                                           required="true" ng-maxlength="20" ng-minlength="6"/>
                          <span class="input-group-btn">
                          <button class="btn btn-info" type="button"><i class="icon-key"></i></button>
                          </span>
                                                </div>
                                            </div>
                                            <div class="col-md-1"
                                                 ng-show="!(updatePasswordForm.updatePasswordForm_OPwd.$error.required || updatePasswordForm.updatePasswordForm_OPwd.$error.maxlength||updatePasswordForm.updatePasswordForm_OPwd.$error.minlength)">
                                                <i class="icon-ok green"></i></div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_OPwd.$dirty && updatePasswordForm.updatePasswordForm_OPwd.$error.required">
                                                密码不能为空
                                            </div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_OPwd.$dirty && updatePasswordForm.updatePasswordForm_OPwd.$error.maxlength">
                                                密码长度不能大于20个字符！
                                            </div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_OPwd.$dirty && updatePasswordForm.updatePasswordForm_OPwd.$error.minlength">
                                                密码长度不能小于6个字符！
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label bluezi">新密码：</label>

                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input type='password' class='form-control'
                                                           ng-model="updatePasswordForm.NPwd"
                                                           name="updatePasswordForm_NPwd" placeholder="请输入您的新密码"
                                                           required="true" ng-minlength="6" ng-maxlength="20"
                                                           same="updatePasswordForm_OPwd"/>
                          <span class="input-group-btn">
                          <button class="btn btn-info" type="button"><i class="icon-key"></i></button>
                          </span></div>
                                            </div>
                                            <div class="col-md-1"
                                                 ng-show="!(updatePasswordForm.updatePasswordForm_NPwd.$error.required || updatePasswordForm.updatePasswordForm_NPwd.$error.maxlength||updatePasswordForm.updatePasswordForm_NPwd.$error.minlength||updatePasswordForm.updatePasswordForm_NPwd.$error.same)">
                                                <i class="icon-ok green"></i></div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_NPwd.$dirty && updatePasswordForm.updatePasswordForm_NPwd.$error.required">
                                                密码不能为空
                                            </div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_NPwd.$dirty && updatePasswordForm.updatePasswordForm_NPwd.$error.same">
                                                新密码不能跟旧密码一致！
                                            </div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_NPwd.$dirty && updatePasswordForm.updatePasswordForm_NPwd.$error.maxlength">
                                                密码长度不能大于20个字符！
                                            </div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_NPwd.$dirty && updatePasswordForm.updatePasswordForm_NPwd.$error.minlength">
                                                密码长度不能小于6个字符！
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label bluezi">重复密码：</label>

                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input type='password' class='form-control'
                                                           ng-model="updatePasswordForm.RNPwd"
                                                           name="updatePasswordForm_RNPwd" placeholder="请再次输入您的新密码"
                                                           required="true" ng-maxlength="20" ng-minlength="6"
                                                           repeat="updatePasswordForm_NPwd"/>
                          <span class="input-group-btn">
                          <button class="btn btn-info" type="button"><i class="icon-key"></i></button>
                          </span></div>
                                            </div>
                                            <div class="col-md-1"
                                                 ng-show="!(updatePasswordForm.updatePasswordForm_RNPwd.$error.required || updatePasswordForm.updatePasswordForm_RNPwd.$error.repeat)">
                                                <i class="icon-ok green"></i></div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_RNPwd.$dirty && updatePasswordForm.updatePasswordForm_RNPwd.$error.repeat">
                                                两次密码输入不一致！
                                            </div>
                                            <div class="col-md-7 col-md-offset-4 ha30 blue"
                                                 ng-show="updatePasswordForm.updatePasswordForm_RNPwd.$dirty && updatePasswordForm.updatePasswordForm_RNPwd.$error.required">
                                                密码不能为空
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <button class="btn btn-info" ng-disabled="updatePasswordForm.$invalid"
                                                    ng-click="saveUpdatePwd(updatePasswordForm);">保存更改
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!--修改密码结束-->
                </div>
            </div>
        </div>
    </div>
</div>
