<div class="container" >
    <div class="cont" >
        <div class="col-md-12">
            <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
                <li ng-class="{active: vm.activeTab == 1}" ><a href="javascript:;" ng-click="vm.activeTab = 1;getAdverList()">广告管理</a></li>
                <li ng-class="{active: vm.activeTab == 2}" ><a href="javascript:;" ng-click="vm.activeTab = 2;getAdverExa()">广告审核</a></li>
                <li ng-class="{active: vm.activeTab == 3}" ><a href="javascript:;" ng-click="vm.activeTab = 3;getCancelShow()">已取消展示</a></li>
            </ul>
            <div class="tab-content tab-bordered mp20" >
                <div class="tab-panel" ng-show="vm.activeTab == 1">
                    <div class="col-md-12 marginb">
                        <form name="frmAdverNews" ng-model="adList" class="form-horizontal" role="form" method='post'>
                            <div class="col-md-12">
                                <div class="alert with-icon mp10"><span class="mp7">广告产品查询： </span> <span class="col-md-6">
                  <input type="text" class="form-control" placeholder="请输入产品名称" name="adSele" ng-model="adList.seleCond" required>
                  </span> <span class="ml10">
                  <button class="btn btn-info" ng-disabled="frmAdverNews.$invalid" ng-click="adverSele(adList)"><i class="icon-search"></i> 查询</button>
                  <button class="btn btn-info" ng-disabled="frmAdverNews.$invalid" ng-click="adSeleClick()"><i class="icon-search"></i> 清空</button>
                  </span> </div>
                                <div class="panel mp20" id="adSele">
                                    <table class="table table-condensed " >
                                        <thead>
                                        <tr >
                                            <th ><span class="ml15">名称</span></th>
                                            <th></th>
                                            <th>频道</th>
                                            <th>级别</th>
                                            <th>位置</th>
                                            <th>顺序</th>
                                            <th>开始时间</th>
                                            <th>结束时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="adSele in adSeleContent">
                                            <td><span class="ml15"><img ng-model="adSele.picImg" ng-src="https://192.168.1.210{{adSele[4]}}" class="prdouctimg"/></span></td>
                                            <td width='180px;'><p class='ha20' style='margin-top:7px;'><a href='' class='blue'>{{adSele[2]}}</a></p></td>
                                            <td><select ng-model="adSele.Channel" ng-options="Lchannel as Lchannel[0] for Lchannel in adChaViewName" class="form-control mp10" ng-change="asGetLevel(adSele)">
                                                <!--<option >首页</option>
                                                <option >产品</option>
                                                <option >圈子</option>-->
                                            </select></td>
                                            <td><select ng-model="adSele.adLevelAd" id="levelad{{adSele[0]}}" class="form-control mp10">
                                                <!--<option >一级</option>
                                                <option >二级</option>
                                                <option >三级</option>-->
                                            </select></td>
                                            <td><select ng-model="adSele.advLayout" ng-change="adSeleChange(adSele)" ng-options="Layout as Layout[0] for Layout in adLayViewName" class="form-control mp10">
                                           <!--     <option >头部</option>
                                                <option >中间</option>
                                                <option >底部</option>
                                                <option >左边</option>
                                                <option >右边</option>-->
                                            </select></td>
                                            <td><select ng-model="adSele.original" ng-change="adSeleChange(adSele)" class="form-control mp10">
                                                <option >1</option>
                                                <option >2</option>
                                                <option >3</option>
                                            </select></td>
                                            <td><!--<input ng-model="adSele.startTime" type="datetime-local" class="form-control mp10">-->
                                                <!--<div class="input-group">
                                                    <input id="adStartTime{{adSele[0]}}" type="text" ng-model="adSele.adStartTime" readonly="true" class="form-control"/>
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button" onclick="WdatePicker({el:'adStartTime{{adSele[0]}}',dateFmt:'yyyy-MM-dd HH:mm:ss',onpicking:function(dp){angular.element(this).scope().adSele.adStartTime=dp.cal.getNewDateStr()}})"><i class="icon-calendar"></i></button>
                                                    </span>
                                                </div>-->
                                               <!-- <input id="adStartTime{{adSele[0]}}" ng-model="adSele.adStartTime" type="text" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',onpicking:function(dp){angular.element(this).scope().adSele.adStartTime=dp.cal.getNewDateStr();angular.element(this).scope().$apply();}})"/>-->
                                                <input type="text" class="form-control mp10 form-datetime" ng-model="adSele.starTime" placeholder="请选择开始时间" ng-click="getTime()">
                                            </td>
                                            <td><input type="text" class="form-control mp10 form-datetime" ng-model="adSele.endTime" placeholder="请选择结束时间" ng-click="getTime()"></td>
                                            <td>
                                                <a href="" class="label label-info" data-toggle="modal" data-target="#hetong" ng-click="addAverApply(adSele,'0')">提交</a>
                                                <div id="operate{{adSele[0]}}"></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                  <!--  <div class="col-md-12 text-center mp20 mt20">
                                        <button class="btn btn-info">提交申请一级广告发布</button>
                                    </div>-->
                                </div>
                                    <p class="blue">
                                        <label class="radio-inline">
                                            <input type="radio" value="asc" name="adSorting" ng-click="adverSor()" checked="">
                                            倒序排列 </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="desc" name="adSorting" ng-click="adverSor()">
                                            正序排列</label>
                                    </p>
                                <div class="panel mp20 ">
                                    <table class="table table-condensed" id="averList">
                                        <thead>
                                            <th ><span class="ml15">产品名称</span></th>
                                            <th></th>
                                            <th><span><a href="" ng-click="adverSor('channel','1')">频道&nbsp;<span id="adIcon"><i class="icon-sort"></i></span></a></span>
                                            </th>
                                            <th>级别</th>
                                            <th>展示位置</th>
                                            <th>展示顺序</th>
                                            <th><span><a href="" ng-click="adverSor('starttime','2')">开始时间&nbsp;<span id="adIcons"><i class="icon-sort"></i></span></a></span></th>
                                            <th>结束时间</th>
                                            <th>操作</th>
                                        </thead>
                                        <tbody>
                                        <tr></tr>
                                     <!--   <tr>
                                          <td><span class="ml15"><img src="images/quanzibg.jpg" class="prdouctimg" /></span></td>
                                            <td width="180px;"><a href="" class="blue">CamPoint 您的室内的室</a></td>
                                            <td>首页</td>
                                            <td>二级</td>
                                            <td>头部</td>
                                            <td><span class="blue">第一张</span></td>
                                            <td ><p class="ha20" style="margin-top:7px;">2014-10-04<br/>
                                            12:34:03
                                            </p></td>
                                            <td>2014-10-20</td>
                                            <td><a href="" data-toggle="modal" data-target="#delguanggao" class="blue" title="取消展示"><i class="icon-undo"></i></a><span class="ml10"><a href="" data-toggle="modal" data-target="#deleteguanggao" class="blue" title="删除"><i class="icon-trash"></i></a></span></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pull-right">
                                    <ul class="pager pager-pills">
                                        <li class="previous" id="lastPageMag"><a href="javascript:;" ng-click="adlRedPage('adverList');">«</a></li>
                                        <li ng-repeat="bursterPageNumber in adListPageNumbers" id="adlPageLi{{bursterPageNumber}}" class="adlPageLis" on-finish-render-filters><a href="javascript:;" ng-click="adverPage('adverList',bursterPageNumber);">{{bursterPageNumber+1}}</a></li>
                                        <li class="next" id="nextPageMag"><a href="javascript:;" ng-click="adlAddPage('adverList');">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-panel" ng-show="vm.activeTab == 3">
                    <div class="col-md-12 marginb">
                        <form class="form-horizontal" role="form" method='post'>
                            <div class="col-md-12">
                                <div class="panel mp20 ">
                                    <table class="table table-condensed" id="cancelShow">
                                        <thead>
                                        <tr >
                                            <th ><span class="ml15">产品名称</span></th>
                                            <th></th>
                                            <th>频道</th>
                                            <th>级别</th>
                                            <th>展示位置</th>
                                            <th>展示顺序</th>
                                            <th>开始时间</th>
                                            <th>结束时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr></tr>
                                        <!--<tr>
                                            <td><span class="ml15"><img src="images/quanzibg.jpg" class="prdouctimg" /></span></td>
                                            <td width="180px;"><a href="" class="blue">CamPoint 您的室内的室</a></td>
                                            <td>首页</td>
                                            <td>二级</td>
                                            <td>头部</td>
                                            <td><span class="blue">第一张</span></td>
                                            <td>2014-10-08</td>
                                            <td>2014-10-20</td>
                                            <td><a class="blue" href="" title="通过展示" ><i class="icon-ok"></i></a><a class="blue ml10" href="" title="不予通过" ><i class="icon-ban-circle"></i></a> <span class="ml10"><a href="" data-toggle="modal" data-target="#deleteguanggao" class="blue" title="删除"><i class="icon-trash"></i></a></span></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 分页 -->
                                <div class="pull-right">
                                    <ul class="pager pager-pills">
                                        <li class="previous"><a href="javascript:;" ng-click="adlRedPage('adverExList');">«</a></li>
                                        <li ng-repeat="bursterPageNumber in adCaPageNumbers" id="caPageLi{{bursterPageNumber}}" class="caPageLis" on-finish-render-filters><a href="javascript:;" ng-click="adverPage('adverExList',bursterPageNumber);">{{bursterPageNumber+1}}</a></li>
                                        <li class="next"><a href="javascript:;" ng-click="adlAddPage('adverExList');">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-panel" ng-show="vm.activeTab == 2">
                    <div class="col-md-12 marginb">
                        <form class="form-horizontal" role="form" method='post'>
                            <div class="col-md-12">
                                <div class="panel mp20 ">
                                    <table class="table table-condensed" id="exAdverList">
                                        <thead>
                                        <tr >
                                            <th ><span class="ml15">产品名称</span></th>
                                            <th></th>
                                            <th>频道</th>
                                            <th>级别</th>
                                            <th>展示位置</th>
                                            <th>展示顺序</th>
                                            <th>开始时间</th>
                                            <th>结束时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr></tr>
                                        <!--<tr>
                                            <td><span class="ml15"><img src="images/quanzibg.jpg" class="prdouctimg" /></span></td>
                                            <td width="180px;"><a href="" class="blue">CamPoint 您的室内的室</a></td>
                                            <td>首页</td>
                                            <td>二级</td>
                                            <td>头部</td>
                                            <td><span class="blue">第一张</span></td>
                                            <td>2014-10-08</td>
                                            <td>2014-10-20</td>
                                            <td><a class="blue" href="" title="通过展示" ><i class="icon-ok"></i></a><a class="blue ml10" href="" title="不予通过" ><i class="icon-ban-circle"></i></a> <span class="ml10"><a href="" data-toggle="modal" data-target="#deleteguanggao" class="blue" title="删除"><i class="icon-trash"></i></a></span></td>
                                        </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- 分页 -->
                                <div class="pull-right">
                                    <ul class="pager pager-pills">
                                        <li class="previous"><a href="javascript:;" ng-click="adlRedPage('adverExList');">«</a></li>
                                        <li ng-repeat="bursterPageNumber in adExPageNumbers" id="exPageLi{{bursterPageNumber}}" class="exPageLis" on-finish-render-filters><a href="javascript:;" ng-click="adverPage('adverExList',bursterPageNumber);">{{bursterPageNumber+1}}</a></li>
                                        <li class="next"><a href="javascript:;" ng-click="adlAddPage('adverExList');">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 确认取消展示弹框 -->

<div class="modal fade"  id="delguanggao" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" > <i class="icon-warning-sign"></i> 取消展示 </h4>
            </div>
            <div class="modal-body"> 您确定要取消此条产品广告吗，亲 </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mini btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-mini btn-info" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除弹框显示 -->

<div class="modal fade"  id="deleteguanggao" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" > <i class="icon-remove"></i> 删除广告 </h4>
            </div>
            <div class="modal-body"> 您确定要删除此条产品广告吗，亲 </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mini btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-mini btn-info" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 合同编号弹框 -->
<div class="modal fade"  id="hetong" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:34%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" > <i class="icon-warning-sign"></i>  请填写详细信息,方便您的广告审核 </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method='post'>
                    <div class="container" >
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label bluezi" >合同编号：</label>
                                <div class="col-md-7">
                                    <input type="text" ng-model="adSele.author" value="demo" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label bluezi" >广告类型：</label>
                                <div class="col-md-7">
                                    <select class="form-control" ng-model="adSele.adType" ng-options="adType as adType[0] for adType in adMode">
                                       <!-- <option value="男" selected="selected">男</option>
                                        <option value="女">女</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mini btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-mini btn-info" data-dismiss="modal" ng-click="addAverApply(adSele,'1')">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- 预览首页大图显示 -->
<div class="modal fade"  id="previewA" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:100%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" > <i class="icon-smile"></i> 广告预览 </h4>
            </div>
            <div class="modal-body">
                <div style=" width:100%; margin-top:-20px;">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner" id="bigPic">
     <!--                       <div class="item active"> <img src="images/big3.png" class="bannerimg" style="height: 450px; width: 100%; background-position: center center;background-repeat: no-repeat; margin-top: -20px; cursor: pointer;" /></div>
                            <div class="item"> <img src="images/big2.jpg" class="bannerimg" style="height: 450px; width: 100%; background-position: center center;background-repeat: no-repeat; margin-top: -20px; cursor: pointer;"/></div>
                            <div class="item"> <img src="images/big1.png" class="bannerimg" style="height: 450px; width: 100%; background-position: center center;background-repeat: no-repeat; margin-top: -20px; cursor: pointer;"/></div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mini btn-default pull-left" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 预览首页二级广告显示 -->
<div class="modal fade"  id="previewB" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" > <i class="icon-smile"></i> 广告预览 </h4>
            </div>
            <div class="modal-body">
                <div class="rowleft border ml10" style="height:240px; border:1px solid #f1f1f1; margin-right:15px; " >
                    <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel" data-wrap="true"> <img src="../../img/new-ribbon.png"  id="ribbon">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" >
                            <div class="item active h" id="small1"><!--<img alt="First slide" src="images/img2.jpg" class="fl">
                                <div  class="itemtext">
                                    <p class="listb"><a href="###" class="card-heading"><span>Kids Grow豆芽宝贝成长计划</span></a></p>
                                    <p class="lrp10">贝虎环境卫士是全球第一款真正的六合一智能PM2.5环境检测设备，它能够精确地检测</p>
                                    <P class="listp"><span class="hui">27天20小时后结束</span><span class='label label-info pull-right' >即将开始</span></P>
                                    <div class="col-md-4 ha20"  >¥58</div>
                                    <div class="col-md-4 ha20" >12</div>
                                    <div class="col-md-4 pull-right ha20" >108人</div>
                                    <div class="col-md-4 ha20 hui" >累计金额</div>
                                    <div class="col-md-4 ha20 hui" >话题</div>
                                    <div class="col-md-4 pull-right ha20 hui" >关注</div>
                                </div>-->
                            </div>
                            <div id="small2" class="item  h"><!-- <img alt="Two slide" src="images/img3.jpg" class="fl">
                            <div  class="itemtext">
                                <p class="listb"><a href="###" class="card-heading"><span>Kids Grow豆芽宝贝成长计划</span></a></p>
                                <p class="lrp10">贝虎环境卫士是全球第一款真正的六合一智能PM2.5环境检测设备，它能够精确地检测</p>
                                <P class="listp"><span class="hui">27天20小时后结束</span><span class='label label-info pull-right' >即将开始</span></P>
                                <div class="col-md-4 ha20"  >¥58</div>
                                <div class="col-md-4 ha20" >12</div>
                                <div class="col-md-4 pull-right ha20" >108人</div>
                                <div class="col-md-4 ha20 hui" >累计金额</div>
                                <div class="col-md-4 ha20 hui" >话题</div>
                                <div class="col-md-4 pull-right ha20 hui" >关注</div>
                            </div>-->
                        </div>
                            <div id="small3" class="item  h"><!--<img alt="Three slide" src="images/img1.png" class="fl">
                                <div  class="itemtext">
                                    <p class="listb"><a href="###" class="card-heading"><span>Kids Grow豆芽宝贝成长计划</span></a></p>
                                    <p class="lrp10">贝虎环境卫士是全球第一款真正的六合一智能PM2.5环境检测设备，它能够精确地检测</p>
                                    <P class="listp"><span class="hui">27天20小时后结束</span><span class='label label-info pull-right' >即将开始</span></P>
                                    <div class="col-md-4 ha20"  >¥58</div>
                                    <div class="col-md-4 ha20" >12</div>
                                    <div class="col-md-4 pull-right ha20" >108人</div>
                                    <div class="col-md-4 ha20 hui" >累计金额</div>
                                    <div class="col-md-4 ha20 hui" >话题</div>
                                    <div class="col-md-4 pull-right ha20 hui" >关注</div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>

<script>

        $('.form-datetime').datetimepicker(
                {
                    language:'zh-CN',
                    weekStart: 1,
                    todayBtn:  1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    forceParse: 0,
                    showMeridian: 1,
                    format: 'yyyy-mm-dd hh:ii'
                });


</script>