<!--  我的订单页面  -->
<div class="container">
  <div class="cont" >
    <div class="col-md-12">
      <div class="col-md-12">
        <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
          <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1;formAll()">所有</a></li>
          <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2;order()">未付款</a></li>
          <li ng-class="{active: vm.activeTab == 3}"><a href="javascript:;" ng-click="vm.activeTab = 3;waitShipped()">待发货</a></li>
          <li ng-class="{active: vm.activeTab == 4}"><a href="javascript:;" ng-click="vm.activeTab = 4;shipped()">已发货</a></li>
          <li ng-class="{active: vm.activeTab == 5}"><a href="javascript:;" ng-click="vm.activeTab = 5;return()"> 退货</a></li>
        </ul>
        <div class="tab-content tab-bordered mp20 " >
            <div id="Prompt"></div>    <!--无记录提示 -->
          <div class="tab-panel" ng-show="vm.activeTab == 1">

            <div class="row">
                <div class="alert with-icon "> <span class="mp7" style="float:left;"><i class="icon-search"></i> 订单查询： </span><span class="col-md-3">
                <input type="text" ng-model="seleVal" class="form-control" placeholder="订单号、商品名、时间">
                </span> <span class="ml10"><button class="btn btn-info" ng-click="seleBtn()">查询</button></span>
                    <div class="col-md-2">
                        <select ng-model="seleDataTime" class="form-control" ng-options="period[0] for period in selectTime"></select> <!-- 按时间段查询 -->
                    </div>
                </div>
                <table class="table table-hover" id="content1">
                    <tbody>
                    <thead>
                    <td>商品信息</td>
                    <td>收货人</td>
                    <td>单价（元）</td>
                    <td>订单金额（元）</td>
                    <td>状态</td>
                    <td>时间</td>
                    <td>操作</td>
                    </thead>
                       <tr><!--遍历信息内容 --></tr>
                    </tbody>
                </table>
            </div>
          </div>
          <!--我的订单所有结束-->
          <div class="tab-panel" ng-show="vm.activeTab == 2">
              <table class="table table-hover" id="content2">
                  <tbody>
                  <thead>
                  <td>商品信息</td>
                  <td>收货人</td>
                  <td>单价（元）</td>
                  <td>订单金额（元）</td>
                  <td>状态</td>
                  <td>时间</td>
                  <td>操作</td>
                  </thead>
                  <tr><!--遍历信息内容 --></tr>
                  </tbody>
              </table>
          </div>
          <!--预订中结束-->
          <div class="tab-panel" ng-show="vm.activeTab == 3">
              <table class="table table-hover" id="content3">
                  <tbody>
                  <thead>
                  <td>商品信息</td>
                  <td>收货人</td>
                  <td>单价（元）</td>
                  <td>订单金额（元）</td>
                  <td>状态</td>
                  <td>时间</td>
                  <td>操作</td>
                  </thead>
                  <tr><!--遍历信息内容 --></tr>
                  </tbody>
              </table>
          </div>
          <!--待发货结束-->
          <div class="tab-panel" ng-show="vm.activeTab == 4">
              <table class="table table-hover" id="content4">
                  <tbody>
                  <thead>
                  <td>商品信息</td>
                  <td>收货人</td>
                  <td>单价（元）</td>
                  <td>订单金额（元）</td>
                  <td>状态</td>
                  <td>时间</td>
                  <td>操作</td>
                  </thead>
                  <tr><!--遍历信息内容 --></tr>
                  </tbody>
              </table>
          </div>
          
          <!--已发货结束-->
            <div class="tab-panel" ng-show="vm.activeTab == 5">
                <div class="col-md-12 marginb">
                    <div class="panel ">
                        <div class="panel-heading">服务单明细 </div>
                        <div class="panel-body ">
                            <table class="table table-hover" id="content5">
                                <thead>
                                <td>商品信息</td>
                                <td>收货人</td>
                                <td>单价（元）</td>
                                <td>订单金额（元）</td>
                                <td>状态</td>
                                <td>时间</td>
                                <td>操作</td>
                                </thead>
                                <tbody>
                                <tr><!--遍历信息内容 --></tr>
                                </tbody>
                            </table>

                            <div class="col-md-9" ng-show="returnFrom">
                                <p class="title">退货详细</p>
                                <table class="table table-hover" id="retGoodsFrom">
                                    <tbody>
                                       <tr><!-- 遍历信息内容 --></tr>
                                    </tbody>
                                </table>

                                <form class="form-horizontal" role="form" method="post">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" >退货类型：</label>
                                        <div class="col-md-7">
                                            <input ng-model="goods.Type" type="radio" value="T"/>  <!-- ng-checked="true" -->
                                            退货
                                            <input ng-model="goods.Type" type="radio" value="H"/>
                                            换货 </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">退货数量：</label>
                                        <div class="col-md-7">
                                            <span><input type="number" class="input" ng-model="goods.Number"/></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" style="text-align:right;">上传图片：</label>
                                        <div class="col-md-7"> <!-- multiple  ng-file-select-->
                                            <input ng-file-select type="file" style="width:62px">
                                            <!--文件上传 -->
                                            <table class="table" style="width: 94%;">
                                                <tbody>
                                                <tr ng-repeat="item in uploader.queue">
                                                        <td><strong class="mt20" ng-repeat="phone in phones">
                                                        <img src="https://192.168.1.210{{phone.picUrl}}/{{phone.picFileName}}" class="prdouctimg ml10 mr10" />
                                                        <!-- 申请退货商品图片显示 --></strong></td>
                                                    <td><strong>{{ item.file.name }}</strong></td>
                                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td ng-show="uploader.isHTML5">
                                                        <div class="progress" style="margin-bottom: 0;">
                                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                    </td>
                                                    <td nowrap>
                                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span> 上传
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                            <span class="glyphicon glyphicon-trash"></span> 移除
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <!-- 结束-->
                                            </br>
                                         <!--   <div class="mt20" id="upPic">&lt;!&ndash; 申请退货商品图片显示 &ndash;&gt;</div>-->
                                            <div class="alert alert-info"> <strong>Hi!</strong> 为了帮助我们更好的解决问题，请您上传图片</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" style="text-align:right;">问题描述：</label>
                                        <div class="col-md-7">
                                            <textarea ng-model="goods.Describe" cols="" rows="" style="width:100%; height:100px; border:1px solid #ccc; margin-bottom:20px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <button class="btn btn-info" ng-click="conReturn(goods)">确定提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--已发货结束-->
            <div class="mp20 marginb"><button ng-model="seleDataTime" class="btn btn-info more" ng-click="Page()">查看更多</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 结束 -->