
<div class="container">
  <div class="cont" >
    <div class="col-md-12">
      <div class="col-md-12">
        <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
          <li ng-class="{active: vm.activeTab == 1}" ><a href="javascript:;" ng-click="vm.activeTab = 1">所有</a></li>
          <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 2">订单中</a></li>
          <li ng-class="{active: vm.activeTab == 3}"><a href="javascript:;" ng-click="vm.activeTab = 3">待发货</a></li>
          <li ng-class="{active: vm.activeTab == 4}"><a href="javascript:;" ng-click="vm.activeTab = 4">已发货</a></li>
          <li ng-class="{active: vm.activeTab == 5}"><a href="javascript:;" ng-click="vm.activeTab = 5">已签收</a></li>
          <li ng-class="{active: vm.activeTab == 6}"><a href="javascript:;" ng-click="vm.activeTab = 6">已退款</a></li>
        </ul>
        <div class="tab-content tab-bordered mp20 " >
          <div class="tab-panel" ng-show="vm.activeTab == 1">
              <div id="Prompt"></div> <!-- 无记录提示信息-->
            <div class="row">
                <div class="alert with-icon "> <span class="mp7"><i class="icon-search"></i> 订单查询： </span><span class="col-md-3">
                <input type="text" class="form-control" placeholder="订单号、商品名、时间">
                </span> <span class="ml10"><button class="btn btn-info">查询</button></span></div>
                <table class="table table-hover">
                    <tbody>
                    <thead>
                    <td>商品信息</td>
                    <td>收货人</td>
                    <td>单价（元）</td>
                    <td>订单金额（元）</td>
                    <td>状态</td>
                    <td>时间</td>
                    <td>操作</td>
                    </thead>
                    <tr>
                        <!-- 遍历信息内容 -->
                    </tr>
                    </tbody>
                </table>
                <div class="mp20"><button class="btn btn-info more" ng-click="Page()">查看更多</button></div>
            </div>
          </div>
          <!--我的订单所有结束-->
                <div class="tab-panel" ng-show="vm.activeTab == 2">
            <div class="col-md-9">
              <div class="container" >
                <div class="col-md-12">
                  <div class="alert with-icon mp10 "> <i class="icon-info-sign"></i>
                    <div class="content">没有符合条件的订单记录。</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <table class="table table-hover">
                <tbody>
                <thead>
                <td><input name="check" type="checkbox" value="" />
                    &nbsp;全选</td>
                  <td></td>
                  <td>商品信息</td>
                  <td>单价（元）</td>
                  <td>数量</td>
                  <td>金额（元）</td>
                  <td>操作</td>
                    </thead>
                <tr>
                  <td><input name="check" type="checkbox" value="" /></td>
                  <td><img src="images/prducttu.jpg"  class="prdouctimg" /></td>
                  <td>【AirProce云智能空气净化器一台】感谢您的支持！作为第二波支持用户</td>
                  <td><strong>1000.00</strong></td>
                  <td>4</td>
                  <td><strong class="blue">¥29,690</strong></td>
                  <td><a href="" style="color:#39b3d7" data-toggle="modal" data-target="#delproduct"><i class="icon-trash" ></i></a></td>
                </tr>
                <tr>
                  <td><input name="check" type="checkbox" value="" /></td>
                  <td><img src="images/prducttu.jpg"  class="prdouctimg" /></td>
                  <td>【AirProce云智能空气净化器一台】感谢您的支持！作为第二波支持用户</td>
                  <td><strong>1000.00</strong></td>
                  <td>4</td>
                  <td><strong class="blue">¥29,690</strong></td>
                  <td><a href="" style="color:#39b3d7" data-toggle="modal" data-target="#delproduct"><i class="icon-trash" ></i></a></td>
                </tr>
                <tr>
                  <td><input name="check" type="checkbox" value="" /></td>
                  <td><img src="images/prducttu.jpg"  class="prdouctimg" /></td>
                  <td>【AirProce云智能空气净化器一台】感谢您的支持！作为第二波支持用户</td>
                  <td><strong>1000.00</strong></td>
                  <td>5</td>
                  <td><strong class="blue">¥29,690</strong></td>
                  <td><a href="" style="color:#39b3d7" data-toggle="modal" data-target="#delproduct"><i class="icon-trash" ></i></a></td>
                </tr>
                  </tbody>
                
              </table>
            </div>
          </div>
     
          <!--预订中结束-->
          <div class="tab-panel" ng-show="vm.activeTab == 3">
            <div class="col-md-9">
              <form class="form-horizontal" role="form" method='post'>
                <div class="container" >
                  <div class="col-md-12">
                    <div class="alert with-icon mp10 "> <i class="icon-info-sign"></i>
                      <div class="content">没有符合条件的订单记录。</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
          <!--待发货结束-->
          <div class="tab-panel" ng-show="vm.activeTab == 4">
            <div class="col-md-9">
              <form class="form-horizontal" role="form" method='post'>
                <div class="container" >
                  <div class="col-md-12">
                    <div class="alert with-icon mp10 "> <i class="icon-info-sign"></i>
                      <div class="content">没有符合条件的订单记录。</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
          <!--已发货结束-->
          <div class="tab-panel" ng-show="vm.activeTab == 5">
            <div class="col-md-9">
              <form class="form-horizontal" role="form" method='post'>
                <div class="container" >
                  <div class="col-md-12">
                    <div class="alert with-icon mp10 "> <i class="icon-info-sign"></i>
                      <div class="content">没有符合条件的订单记录。</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
          <!--已发货结束-->
          <div class="tab-panel" ng-show="vm.activeTab == 6">
            <div class="col-md-9">
              <form class="form-horizontal" role="form" method='post'>
                <div class="container" >
                  <div class="col-md-12">
                    <div class="alert with-icon mp10 "> <i class="icon-info-sign"></i>
                      <div class="content">没有符合条件的订单记录。</div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
          <!--已发货结束--> 
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 确认删除弹框 -->

<div class="modal"  id="delproduct" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" > <i class="icon-remove"></i> 商品删除 </h4>
      </div>
      <div class="modal-body">亲， 您确定要删除吗</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="deleGoods()">确定</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>