<div class="container" >
  <div class="cont" >
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="#/"><i class="icon-home"></i>首页</a></li>
        <li><a href="#/groupMain">圈子</a></li>
        <li class="active">编辑帖子</li>
      </ul>
      <div class="col-md-9">
        <div class="alert with-icon">
          <div class="content"> <img ng-src="{{groupTopicDetail.header}}" class="huati-head htu prdouctimg" /><strong class="ml70"></strong>&nbsp; <i class="icon-eye-open"></i> 浏览：<span class="blue"> {{groupTopicDetail.viewCount}}</span>&nbsp; <i class="icon-comment-alt"></i> 回复：<span class="blue"> {{groupTopicDetail.replyCount}}</span>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <form class="form-horizontal" role="form" method='post'>
              <div class="col-md-12">
                <div class="form-group mp20">
                  <label class="col-md-2 control-label bluezi" >话题名称：</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <input type='text'  class='form-control' ng-model="topicTitle"/>
                      <span class="input-group-btn">
                      <button class="btn btn-info" type="button"><i class="icon-chat-dot"></i></button>
                      </span> </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label bluezi">话题内容：</label>
                  <br/>
                </div>
                <div class="col-md-12">
                    <script id="editor" type="text/plain" style="height:150px;"></script>
                </div>
                <div class="col-md-12">
                    <input name="check" type="checkbox"  style="margin-left:10px;" ng-model="ifForbidComment"/>&nbsp; 禁止评论
                </div>
                <div class="mp20 marginb"> <a href="javascript:;"class="btn btn-info more" ng-click="modifyTopic(topicTitle);" ng-disabled="topicTitle==''">确认修改</a> </div>
              </div>
            </form>
          </div>
        </div>
        <!-- panel结束--> 
      </div>
    </div>
  </div>
</div>
