<div ng-controller="EditGroupPostCtrl">
<div class="container" >
  <div class="cont" >
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="#/"><i class="icon-home"></i>首页</a></li>
        <li><a href="#/groupMain">圈子</a></li>
        <li class="active">编辑圈子</li>
      </ul>
      <div class="col-md-9">
        <div class="alert with-icon">
          <div class="content"> <img src="images/dog.jpg" class="huati-head htu" /><strong class="ml70">重庆第一车友会</strong>&nbsp; <i class="icon-chat-dot"></i> 话题：<span class="blue"> 40</span>
            <div class="pull-right"><a href="" class="label label-success large href"><i class="icon-minus"></i> 退出圈子</a></div>
            <div class="pull-right"><a href="" class="label label-info large href"><i class="icon-plus"></i> 加入圈子</a></div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <form class="form-horizontal" role="form" method='post'>
              <div class="col-md-12">
                <div class="form-group mp20">
                  <label class="col-md-2 control-label bluezi" >话题名称：</label>
                  <div class="col-md-8">
                    <div class="input-group">
                      <input type='text'  class='form-control' />
                      <span class="input-group-btn">
                      <button class="btn btn-info" type="button"><i class="icon-chat-dot"></i></button>
                      </span> </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label bluezi">话题内容：</label>
                  <br/>
                </div>
                <div class="col-md-12">
                  <textarea name="" cols="" rows="" class="teax ml10"></textarea>
                </div>
                <div class="mp20 marginb"> <a href="#/quanzixiangxi"class="btn btn-info more">确认保存</a> </div>
              </div>
            </form>
          </div>
        </div>
        <!-- panel结束--> 
      </div>
    </div>
  </div>
</div>
</div>