<div class="container" >
  <div class="cont" >
    <div class="col-md-12">
      <div class="col-md-12">
        <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
          <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="vm.activeTab = 1">我关注的产品 <span class="label label-badge label-info">{{productsTotal}}</span></a></li>
        </ul>
        <div class="tab-content tab-bordered mp20 " >
          <div class="tab-panel" ng-show="vm.activeTab == 1"> 
            <!-- 如果用户没有关注的产品则显示此信息-->
            
            <div class="alert with-icon mp10 " ng-show="!showFollowProducts"> <i class="icon-info-sign"></i>
              <div class="content">没有符合条件的订单记录。</div>
            </div>
            <!-- 如果用户没有关注的产品则显示此信息结束--> 
            <!-- 用户关注信息展示-->
            
            <div class="row" ng-show="showFollowProducts">
                <div  ng-repeat=" product in products" class="col-md-3 col-sm-6 col-lg-3">
                    <div class="card"> <img ng-src="images/products/{{product[4]}}" alt=""> <span class="caption">{{product[3]}}</span> <a href="#/productDetail/{{product[1]}}" class="card-heading"><span>{{product[3]}}</span></a>
                        <P class="listp"><span class="hui">{{product[5]+'&'+product[6] | datemark}}</span>
                            <span class='label label-success pull-right' ng-show="product[7]=='ON'">{{product[8]}}</span>
                            <span class='label label-warning pull-right' ng-show="product[7]=='TBA'">{{product[8]}}</span>
                            <span class='label label-default pull-right' ng-show="product[7]=='OFF'">{{product[8]}}</span>
                        </P>
                        <div class="col-md-4 ha20"  >¥{{product[12] | nullToZero }}</div>
                        <div class="col-md-4 ha20" >{{product[9] |nullToZero}}</div>
                        <div class="col-md-4 pull-right ha20" >{{product[10] | nullToZero}}人</div>
                        <div class="col-md-4 ha20 hui" >累计金额</div>
                        <div class="col-md-4 ha20 hui" >话题</div>
                        <div class="col-md-4 pull-right ha20 hui" >关注</div>
                    </div>
                </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
