<div ng-controller="GroupTopicDetailCtrl">
<div class="container" >
<div class="cont" >
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="#/">首页</a></li>
      <li><a href="#/groupMain">圈子</a></li>
      <li class="active">{{groupInfo.name}}</li>
    </ul>
    <div class="col-md-9">
      <div class="alert with-icon">
        <div class="content"> <img ng-src="{{groupInfo.header}}" class="huati-head htu" /><strong class="ml70">{{groupInfo.name}}</strong>&nbsp; <i class="icon-chat-dot"></i> 话题：<span class="blue">{{groupInfo.totalTopic}}</span>
          <div class="pull-right" ng-show="showQuitGroup"><a href="javascript:;" class="label label-success large href" ng-click="quitGroup();"><i class="icon-minus"></i> 退出圈子</a></div>
            <div class="pull-right" ng-show="showJoinGroup && !ifIsVerifyJoin"><a href="javascript:;" class="label label-info large href" ng-click="joinDNVGroup();"><i class="icon-plus"></i> 加入圈子</a></div>
            <div class="pull-right" ng-show="showJoinGroup && ifIsVerifyJoin"><a href="javascript:;" class="label label-info large href" ng-click="showVMForm();"><i class="icon-plus"></i> 加入圈子</a></div>
        </div>
      </div>
    </div>
    <div class="panel col-md-9">
      <div class="panel-body">
        <div class="col-md-12">
          <div class="comment"> 
            
            <!--  头像滑过显示
            <div class="relative">
              <div class="popover" ng-style="{display: item.popover?'block':'none'}"  ng-mouseenter="item.popover=true"
            ng-mouseleave="item.popover=false"  >
                <div class="popover-content">
                  <div class="row">
                    <div class="col-md-5"> <img src="images/head1.gif" class="huati-head " /> </div>
                    <div class="col-md-7"> <span class="pull-right"> <a href="" class="label label-info">+关注</a> 
                       <a href="" class="label label-info">已关注</a> </span> </div>
                  </div>
                  <p class=" ha30 " > <span> <strong>小非印象</strong></span> &nbsp;<span>关注：2323</span>&nbsp;<span>粉丝：2323</span> </p>
                  <p class=" ha30" > 已加圈：<span class="blue">财网、爱读书、小说圈</span> </p>
                </div>
              </div>
            </div>
            
              头像滑过显示结束 -->
            <a href="" class="avatar"><img ng-src="{{groupTopicDetail.header}}" class="huati-head " ng-mouseenter="item.popover=true"
              ng-mouseleave="item.popover=false"/></a>
            <h2 >{{groupTopicDetail.topic}} <span class="ha20"><a href=""  class="label label-success pull-right ml10" data-toggle="modal" data-target="#del"><i class="icon-remove"></i> 删除</a></span> <span class="ha20"><a href="#/editGroupTopic"  class="label label-info pull-right"><i class="icon-pencil"></i> 编辑</a></span></h2>
            <div class="text" ng-bind-html="groupTopicDetail.contents | to_trusted_single">

            </div>
            <p class="ha30"> 
            <span class="pull-right"><i class="icon-comment-alt blue ml10"></i>{{groupTopicDetail.replyCount}}</span><span class="pull-right"><i class="icon-eye-open blue ml10"></i> {{groupTopicDetail.viewCount}} </span></p>
           <!-- <p class="pinglun">
            <span class="pull-right"><i class="icon-eye-open blue"></i> &nbsp;123 &nbsp;</span> 
            <span class="pull-right"><i class="icon-comment-alt blue"></i> &nbsp;32423</span>
            <ul>
              <li><a href=""><i class="icon-thumbs-up"></i></a>&nbsp;0</li>
              <li><a href=""><i class="icon-comment"></i></a>&nbsp;50</li>
            </ul>
            </p>-->
          </div>
          <div class="col-md-12" style="margin-top:20px;">
            <div class="huati-box " >
              <div class="col-md-1"><img src="images/head2.png" class="huati-head "/></div>
              <div class="col-md-11">
                <p><span class="blue">小白</span> 回复于&nbsp;<span>今天&nbsp; 10:50</span><span class="pull-right" ><a href="" class=" label label-info blue " id="huifu1"> <i class="icon-comments"></i> 回复</a></span></p>
                <div class="ha30"> 魏家四兄弟之一的魏应充还主动向台湾食品GMP发展....</div>
                <div id="pinglunhou2" style="background-color: #e0f1fa; border-radius:4px; margin-bottom:5px; padding-left:5px; padding-right:5px;" ng-mouseenter="item.hui=true"
            ng-mouseleave="item.hui=false" >
                  <div class="ha30"> <span class="blue">我</span>&nbsp;回复<span class="blue">&nbsp;小白</span>:&nbsp;魏家四兄弟之一的魏应充还主动向台湾食品GMP发展协会请... </div>
                  <div class="ha30">回复于  1秒前 <span class="pull-right" ><a href=""class=" label label-info hrefw" id="ff" ng-style="{display: item.hui?'block':'none'}"  ng-mouseenter="item.hui=true"
            ng-mouseleave="item.hui=false" ><i class="icon-user"></i> 回复</a></span></div>
                </div>
                
                <!--回复text文本域开始-->
                <div id="pinglun" style=" display:none;">
                  <textarea name="" cols="" rows="" class="teax">回复：小白</textarea>
                  <p><a href=""class=" label label-info hrefw pull-right mt20" id="huifu2"><i class="icon-hand-up"></i> 确认回复</a></p>
                </div>
                <!--回复text文本域结束--> 
                
              </div>
            </div>
              <script type="text/javascript">
                  $(document).ready(function(){


                      $("#huifu1").click(function(){

                          $("#pinglun").show();

                      });

                      $("#huifu2").click(function(){

                          $("#pinglun").hide();

                          $("#pinglunhou2").show();

                      })
                      $("#ff").click(function(){
                          $("#pinglun").show();



                      })

                  });
              </script>
            <p class="title">快速回复</p>
            <div class="col-md-12">
              <textarea name="" cols="" rows="" class="teax "></textarea>
            </div>
            <div class="mp20 marginb">
              <button class="btn btn-info more">确认回复保存</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!--访问私有圈子弹框开始(需要验证)-->
    <div class="modal fade"  id="joinNVMModal" tabindex="-1" role="dialog" aria-labelledby="tsModalTitle" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="tsModalTitle"><i class="icon-exclamation-sign"></i> 加入验证</h4>
                </div>
                <div class="modal-body">
                    <p> 亲，此圈子属私有圈子，您需要加入才能查看详细信息。 </p>
                    <form class="form-horizontal" role="form" name="validateMessageForm" novalidate="true" ng-model="validateMessageForm">
                        <div class="form-group mp20 marginb" style="">
                            <label class="col-md-3 control-label" >验证信息：</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type='text'  class='form-control' placeholder="请输入验证信息" name="validateMessage"  required="true" ng-model="validateMessageForm.vm"/>
                            <span class="input-group-btn">
                            <button class="btn btn-default " type="button"><i class="icon-comment-alt "></i></button>
                            </span>
                                </div>
                                <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="validateMessageForm.validateMessage.$dirty && validateMessageForm.validateMessage.$error.required">验证信息不能为空</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info" ng-disabled="validateMessageForm.$invalid" ng-click="joinNVGroup(validateMessageForm.vm);">加入</button>
                </div>
            </div>
        </div>
    </div>
    <!--访问私有圈子弹框结束(需要验证)-->

<!-- 确认删除弹框 -->

<div class="modal"  id="del" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" > <i class="icon-remove"></i> 话题删除</h4>
      </div>
      <div class="modal-body"> 您确定要删除发布的话题吗，亲 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">确定</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
</div>
</div>