<style type="text/css">
.lv { color: #096; }
</style>
<div class="container" >
  <div class="cont" style=" margin-top:20px;" >
    <div class="col-md-12">
      <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
        <li ng-class="{active: vm.activeTab == 1}" ><a href="javascript:;" ng-click="vm.activeTab = 1">热门话题</a></li>
        <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="showMyGroup();">我的圈子</a></li>
      </ul>
      <div class="tab-content tab-bordered" >
       <!--热门话题显示开始-->
        <div class="tab-panel" ng-show="vm.activeTab == 1">
          <div class="col-md-9">
              <div class="huati-box" ng-repeat="hotTopic in hotTopics" >
                  <div class="huati-top">

                      <!--   头像滑过显示
                    <div class="relative">
                       <div class="popover" ng-style="{display: item.popover?'block':'none'}"  ng-mouseenter="item.popover=true"
                       ng-mouseleave="item.popover=false"  >
                          <div class="popover-content">
                             <div class="row">
                               <div class="col-md-5"> <img src="images/head1.gif" class="huati-head " /> </div>
                               <div class="col-md-7"> <span class="pull-right"> <a href="" class="label label-info">+关注</a>
                                  <a href="" class="label label-info">已关注</a> </span> </div>
                             </div>
                              <p class=" ha30 " > <span> <strong>小非印象</strong></span> &nbsp;<span>关注：2323</span>&nbsp;<span>粉丝：2323</span> </p>
                              <p class=" ha30" > 已加圈：<span class="blue">财网、爱读书、小说圈</span> </p>
                          </div>
                       </div>
                    </div>
                         头像滑过显示结束-->
                      <div class="col-md-1" ><img ng-src="{{hotTopic[4]}}"  class="huati-head " ng-mouseenter="item.popover=true"
                                                  ng-mouseleave="item.popover=false"/></div>
                      <div class="col-md-11">
                          <p><span class="blue">{{hotTopic[3]}}</span> 来自于 <span class="blue">{{groupInfo.name}}</span>&nbsp;&nbsp;<span>{{hotTopic[7] |showTime}}</span></p>
                          <div style=" line-height:30px;">
                              <p style="color:#000; font-weight:bold; font-size:15px;"><a href="#/group/{{groupInfo.gid}}/topic/{{hotTopic[0]}}" >{{hotTopic[5]}}</a></p>
                              {{hotTopic[6]}}...
                          </div>
                          <div class="row ha30"><span class="pull-right"><i class="icon-comment-alt blue"></i> &nbsp;{{hotTopic[9]}}</span> &nbsp;<span class="pull-right"><i class="icon-eye-open blue"></i> &nbsp;{{hotTopic[8]}} &nbsp;</span> </div>
                      </div>
                  </div>
              </div>

            <div class="row " >
               <div class="pull-right">
                   <ul class="pager pager-pills">
                      <li class="previous" id="LastPageLi"><a href="javascript:;" ng-click="hotTopicsLastPage();">«</a></li>
                      <li ng-repeat="bursterPageNumber in bursterPageNumbers" id="pageLi{{bursterPageNumber}}" class="bursterPageLis" on-finish-render-filters><a href="javascript:;" ng-click="findHotTopics(bursterPageNumber,hotTopicsPageSize);">{{bursterPageNumber+1}}</a></li>
                      <li class="next" id="NextPageLi"><a href="javascript:;" ng-click="hotTopicsNextPage();">»</a></li>
                   </ul>
               </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="panel ">
              <div class="panel-heading">热门圈子</div>
              <div class="panel-body">
                <div class="row mt10" ng-repeat="hotGroup in hotGroups">
                  <div class="col-md-4"> <img ng-src="{{hotGroup[9]}}" style="border-radius:50%" /></div>
                  <div class="col-md-8">
                      <span><a href="javascript:;" ng-click="ifAllowVisit(hotGroup[0]);"  class="bl">{{hotGroup[1]}}</a></strong></span>
                    <br/>
                    <small>成员：<span class="blue">{{hotGroup[3]}}</span>&nbsp;</small><br/>
                    <small>话题：<span class="blue">{{hotGroup[4]}}</span></small>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
          <!--热门话题显示结束-->
          <!--我的圈子显示开始-->
        <div class="tab-panel" ng-show="vm.activeTab == 2">
          <div class="col-md-9">
              <p> <span><a href="#/createGroup"  class="label label-info"><i class="icon-comments-alt"></i> 创建圈子</a></span></p>
              <div class="panel">
                  <div class="panel-heading">我的圈子
                      <div class="btn-group pull-right" data-toggle="buttons-radio">
                          <button type="button" class="btn btn-mini btn-default" ng-click="myGroupsLastPage();"><i class="icon-chevron-up"></i></button>
                          <button type="button" class="btn  btn-mini btn-default" ng-click="myGroupsNextPage();" ng-disabled="myGroupsNextPageState"><i class="icon-chevron-down"></i></button>
                      </div>
                  </div>
                  <div class="panel-body">
                      <div class="col-md-2" ng-repeat="myGroup in myGroups">
                          <P class="ha30"><img ng-src="{{myGroup[7]}}" class="huati-head prdouctimg"/></P>
                          <p class="ha20" style="padding-left: 10px;"><a href="#/groupDetail/{{myGroup[0]}}"  class="bl">{{myGroup[1]}}</a></p>
                      </div>
                  </div>
              </div>

          </div>
            <!--圈子右边显示开始-->
            <div class="col-md-3">

            <div class="panel mp20">
              <div class="panel-heading"> 最新加入成员</div>
              <div class="panel-body">
                <div class="col-md-4 mp10"><img src="images/dog.jpg" class="huati-head"/></div>
                <div class="col-md-4 mp10"><img src="images/head1.gif"class="huati-head" /></div>
                <div class="col-md-4 mp10"><img src="images/head1.gif" class="huati-head" /></div>
                <div class="col-md-4 mp10"><img src="images/head1.gif" class="huati-head" /></div>
                <div class="col-md-4 mp10"><img src="images/dog.jpg" class="huati-head" /></div>
              </div>
            </div>
          </div>
          <!--圈子右边显示结束--> 
        </div>
        
        <!--我的圈子显示结束--> 
        
      </div>
    </div>
  </div>
</div>
<!--访问私有圈子弹框开始(需要验证)-->
<div class="modal fade"  id="joinNVMModal" tabindex="-1" role="dialog" aria-labelledby="tsModalTitle" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="tsModalTitle"><i class="icon-exclamation-sign"></i> 加入验证</h4>
            </div>
            <div class="modal-body">
                <p> 亲，此圈子属私有圈子，您需要加入才能查看详细信息。 </p>
                <form class="form-horizontal" role="form" name="validateMessageForm" novalidate="true" ng-model="validateMessageForm">
                    <div class="form-group mp20 marginb" style="">
                        <label class="col-md-3 control-label" >验证信息：</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input type='text'  class='form-control' placeholder="请输入验证信息" name="validateMessage"  required="true" ng-model="validateMessageForm.vm"/>
                              <span class="input-group-btn">
                              <button class="btn btn-default " type="button"><i class="icon-comment-alt "></i></button>
                              </span>
                            </div>
                            <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="validateMessageForm.validateMessage.$dirty && validateMessageForm.validateMessage.$error.required">验证信息不能为空</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-info" ng-disabled="validateMessageForm.$invalid" ng-click="joinGroup(validateMessageForm.vm,visitNeedJoinGp_GId);">加入</button>
            </div>
        </div>
    </div>
</div>
<!--访问私有圈子弹框结束(需要验证)-->
