<div class="container" >
<div class="cont" >
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="#/">首页</a></li>
      <li><a href="#/groupMain">圈子</a></li>
      <li class="active">{{groupInfo.name}}</li>
    </ul>
    <div class="col-md-9">
      <div class="alert with-icon">
        <div class="content"> <img ng-src="{{groupInfo.header}}" class="huati-head htu" /><strong class="ml70">{{groupInfo.name}}</strong>&nbsp; <i class="icon-chat-dot"></i> 话题：<span class="blue">{{groupInfo.totalTopic}}</span>
          <div class="pull-right" ng-show="showQuitGroup"><a href="javascript:;" class="label label-success large href" ng-click="quitGroup();"><i class="icon-minus"></i> 退出圈子</a></div>
            <div class="pull-right" ng-show="showJoinGroup && !ifIsVerifyJoin"><a href="javascript:;" class="label label-info large href" ng-click="joinDNVGroup();"><i class="icon-plus"></i> 加入圈子</a></div>
            <div class="pull-right" ng-show="showJoinGroup && ifIsVerifyJoin"><a href="javascript:;" class="label label-info large href" ng-click="showVMForm();"><i class="icon-plus"></i> 加入圈子</a></div>
        </div>
      </div>
    </div>
    <div class="panel col-md-9">
      <div class="panel-body">
        <div class="col-md-12">
          <div class="comment">
            <!--  头像滑过显示
            <div class="relative">
              <div class="popover" ng-style="{display: item.popover?'block':'none'}"  ng-mouseenter="item.popover=true"
            ng-mouseleave="item.popover=false"  >
                <div class="popover-content">
                  <div class="row">
                    <div class="col-md-5"> <img src="images/head1.gif" class="huati-head " /> </div>
                    <div class="col-md-7"> <span class="pull-right"> <a href="" class="label label-info">+关注</a> 
                       <a href="" class="label label-info">已关注</a> </span> </div>
                  </div>
                  <p class=" ha30 " > <span> <strong>小非印象</strong></span> &nbsp;<span>关注：2323</span>&nbsp;<span>粉丝：2323</span> </p>
                  <p class=" ha30" > 已加圈：<span class="blue">财网、爱读书、小说圈</span> </p>
                </div>
              </div>
            </div>
              头像滑过显示结束 -->
            <a href="" class="avatar"><img ng-src="{{groupTopicDetail.header}}" class="huati-head " ng-mouseenter="item.popover=true"
              ng-mouseleave="item.popover=false"/></a>
            <h2 >{{groupTopicDetail.topic}} <span class="ha20"><a href=""  class="label label-success pull-right ml10" data-toggle="modal" data-target="#del" ng-show="showDeleteTopic"><i class="icon-remove"></i> 删除</a></span> <span class="ha20"><a href="#/editGroupTopic"  class="label label-info pull-right" ng-show="showEditTopic"><i class="icon-pencil"></i> 编辑</a></span></h2>
            <div class="text" ng-bind-html="groupTopicDetail.contents | to_trusted_single">
            </div>
            <p class="ha30"> 
            <span class="pull-right"><i class="icon-comment-alt blue ml10"></i>{{groupTopicDetail.replyCount}}</span><span class="pull-right"><i class="icon-eye-open blue ml10"></i> {{groupTopicDetail.viewCount}} </span></p>
           <!-- <p class="pinglun">
            <span class="pull-right"><i class="icon-eye-open blue"></i> &nbsp;123 &nbsp;</span> 
            <span class="pull-right"><i class="icon-comment-alt blue"></i> &nbsp;32423</span>
            <ul>
              <li><a href=""><i class="icon-thumbs-up"></i></a>&nbsp;0</li>
              <li><a href=""><i class="icon-comment"></i></a>&nbsp;50</li>
            </ul>
            </p>-->
          </div>

          <div class="col-md-12" style="margin-top:20px;">

            <div class="huati-box " ng-repeat="groupTopicComment in groupTopicComments">
              <div class="col-md-1"><img ng-src="{{groupTopicComment.comment[5]}}" class="huati-head "/></div>
              <div class="col-md-11">
                <p><span class="blue">{{groupTopicComment.comment[4]}}</span> 评论于&nbsp;<span>{{groupTopicComment.comment[7]|showTime}}</span><span class="pull-right" ><a href="javascript:;" class=" label label-info blue " ng-click="showReplyForm(groupTopicComment.comment[0],groupTopicComment.comment[3],groupTopicComment.comment[4]);"> <i class="icon-comments"></i> 回复</a></span></p>
                <div class="ha30" ng-bind-html="groupTopicComment.comment[6] | to_trusted_single"></div>

                <div  ng-repeat="gTCommentReply in groupTopicComment.reply" style="background-color: #e0f1fa; border-radius:4px; margin-bottom:5px; padding-left:5px; padding-right:5px;" ng-mouseenter="item.hui=true" ng-mouseleave="item.hui=false" >
                  <div class="ha30"> <span class="blue">{{gTCommentReply[5]}}</span>&nbsp;回复<span class="blue">&nbsp;{{gTCommentReply[8]}}</span>:&nbsp;{{gTCommentReply[9]}} </div>
                  <div class="ha30">回复于  {{gTCommentReply[10] | showTime}}
                  <span class="pull-right" ><a href="javascript:;" class=" label label-info hrefw"  ng-style="{display: item.hui?'block':'none'}"  ng-mouseenter="item.hui=true" ng-mouseleave="item.hui=false" ng-click="showReplyForm(gTCommentReply[1],gTCommentReply[4],gTCommentReply[5]);"><i class="icon-user"></i> 回复</a></span>
                  </div>
                </div>

                <!--回复text文本域开始-->
                <div id="reply{{groupTopicComment.comment[0]}}" style=" display:none;">
                    <span class="huifu">回复：{{replyToNickName}}</span>
                   <textarea ng-model="replyContent" cols="" rows="" class="teax mar2"></textarea>
                   <p><button class="btn btn-info btn-mini pull-right mt20" ng-click="releaseReply(replyContent);" ng-disabled="replyContent==''"><i class="icon-hand-up"></i> 确认回复</button></p>
                </div>
                  <!--回复text文本域结束-->
              </div>
            </div>

            <div class="row " >
               <div class="pull-right">
                   <ul class="pager pager-pills">
                       <li class="previous" id="LastPageLi"><a href="javascript:;" ng-click="topicCommentsLastPage();">«</a></li>
                       <li ng-repeat="bursterPageNumber in bursterPageNumbers" id="pageLi{{bursterPageNumber}}" class="bursterPageLis" on-finish-render-filters><a href="javascript:;" ng-click="findCommentsOfTopic(bursterPageNumber,commentsPageSize);">{{bursterPageNumber+1}}</a></li>
                       <li class="next" id="NextPageLi"><a href="javascript:;" ng-click="topicCommentsNextPage();">»</a></li>
                   </ul>
               </div>
            </div>
            <p class="title">快速评论</p>
            <div class="col-md-12">
                <script id="editor" type="text/plain" style="height:150px;"></script>
            </div>
            <div class="mp20 marginb">
              <button class="btn btn-info more" ng-click="releaseTopicComment();">提交</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <!--访问私有圈子弹框开始(需要验证)-->
    <div class="modal fade"  id="joinNVMModal" tabindex="-1" role="dialog" aria-labelledby="tsModalTitle" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="tsModalTitle"><i class="icon-exclamation-sign"></i> 加入验证</h4>
                </div>
                <div class="modal-body">
                    <p> 亲，此圈子属私有圈子，您需要加入才能查看详细信息。 </p>
                    <form class="form-horizontal" role="form" name="validateMessageForm" novalidate="true" ng-model="validateMessageForm">
                        <div class="form-group mp20 marginb" style="">
                            <label class="col-md-3 control-label" >验证信息：</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type='text'  class='form-control' placeholder="请输入验证信息" name="validateMessage"  required="true" ng-model="validateMessageForm.vm"/>
                            <span class="input-group-btn">
                            <button class="btn btn-default " type="button"><i class="icon-comment-alt "></i></button>
                            </span>
                                </div>
                                <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="validateMessageForm.validateMessage.$dirty && validateMessageForm.validateMessage.$error.required">验证信息不能为空</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-info" ng-disabled="validateMessageForm.$invalid" ng-click="joinNVGroup(validateMessageForm.vm);">加入</button>
                </div>
            </div>
        </div>
    </div>
    <!--访问私有圈子弹框结束(需要验证)-->

<!-- 确认删除弹框 -->

<div class="modal"  id="del" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" > <i class="icon-remove"></i> 话题删除</h4>
      </div>
      <div class="modal-body"> 您确定要删除发布的话题吗，亲 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-info" data-dismiss="modal">确定</button>
      </div>
    </div>
    <!-- /.modal-content --> 
  </div>
  <!-- /.modal-dialog --> 
</div>
</div>
