<style >
.ml10 { margin-left:10px; }
</style>
<div class="container" >
  <div class="cont marginb"  >
    <div class="col-md-12" >
      <ul class="breadcrumb" >
        <li><a href="#/">首页</a></li>
        <li><a href="#/groupMain">圈子</a></li>
        <li class="active">管理圈子</li>
      </ul>
    </div>
    <div class="col-md-12">
      <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
        <li ng-class="{active: vm.activeTab == 1}"><a href="javascript:;" ng-click="vm.activeTab = 1">圈子设置</a></li>
        <li ng-class="{active: vm.activeTab == 2}"><a href="javascript:;" ng-click="showUserManage();">成员管理</a></li>
        <li ng-class="{active: vm.activeTab == 3}"><a href="javascript:;" ng-click="showTopicsManage();">话题管理</a></li>
        <li ng-class="{active: vm.activeTab == 4}"><a href="javascript:;" ng-click="showWTUserManage();">加入审核</a></li>
        <li ng-class="{active: vm.activeTab == 5}"><a href="javascript:;" ng-click="showHUserManage();">黑名单</a></li>
      </ul>
      <div class="tab-content tab-bordered">
        <div class="tab-panel" ng-show="vm.activeTab == 1">
          <div class="col-md-9 marginb"> 
            
            <!--<div class="alert alert-defult"> <strong>Hi!</strong> 赶快来创建属于您的圈子吧！</div>-->
            <div class="panel mp20">
              <div class="panel-heading">圈子管理</div>
              <div class="panel-body">
                <form class="form-horizontal" role="form" name="manageGroupForm" ng-model="manageGroupForm">
                  <div class="col-md-12">
                    <div class="form-group mp20">
                      <label class="col-md-3 control-label bluezi" >圈子名称：</label>
                      <div class="col-md-7">
                        <div style="margin-top: 5px;">{{manageGroupForm['name']}}</div>
                      </div>
                    </div>
                    <div class="form-group mp20">
                      <label class="col-md-3 control-label bluezi" >圈子分类：</label>
                      <div class="col-md-7">
                        <div style="margin-top: 5px;">{{manageGroupForm['cat']}}</div>
                      </div>
                    </div>
                    <div class="form-group mp20">
                      <label class="col-md-3 control-label bluezi" >圈子状态：</label>
                      <div class="col-md-7">
                        <div style="margin-top: 5px;">{{manageGroupForm['state']}}</div>
                      </div>
                    </div>
                    <div class="form-group mp20">
                      <label class="col-md-3 control-label bluezi" >加入权限：</label>
                      <div class="col-md-7">
                        <label class="radio-inline">
                          <input type="radio" name="manageGroupForm_join"  ng-model="manageGroupForm.join" value="N">
                          直接加入</label>
                        <label class="radio-inline">
                          <input type="radio" name="manageGroupForm_join" ng-model="manageGroupForm.join" value="Y">
                          需要验证加入</label>
                      </div>
                    </div>
                    <div class="form-group mp20">
                      <label class="col-md-3 control-label bluezi " >内容权限：</label>
                      <div class="col-md-7">
                        <label class="radio-inline">
                          <input type="radio" name="manageGroupForm_cnt"  ng-model="manageGroupForm.cnt" value="N">
                          任何人可见内容</label>
                        <label class="radio-inline">
                          <input type="radio" name="manageGroupForm_cnt"  ng-model="manageGroupForm.cnt" value="Y" >
                          加入圈子可见内容</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-3 control-label bluezi"> 圈子公告： </label>
                      <br/>
                      <div class="col-md-7 ">
                        <textarea name="manageGroupForm_ntc" ng-model="manageGroupForm.ntc" cols="" rows="" class="teax " style="width:100%"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="mp20 marginb"> <a href="javascript:;"class="btn btn-info more" ng-click="updateGroup(manageGroupForm);">确认修改</a> </div>
                </form>
              </div>
            </div>
          </div>
          <!--圈子上传开始-->
          <div class="col-md-3">
            <div class="panel mp20">
              <div class="panel-heading">圈子头像上传</div>
              <div class="panel-body">
                <div class="col-md-12 " > <img id="giId" src="{{manageGroupForm.header}}" class="huati-head" style="text-align:center; margin-bottom:10px;" />
                  <p> 
                  <span style="margin-left:20px; margin-top:20px;">
                  <input ng-file-select  name="createGroupForm_header" type="file" ng-model="createGroupForm.header" size="4" single accept="image/gif,image/png,image/jpeg"/>
                  <div nowrap>
                    <button type="button" class="btn btn-success btn-xs" ng-click="uploader.queue[0].upload()"
                               ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading ||uploader.queue[0].isSuccess"> <span>上传</span> </button>
                    <button type="button" class="btn btn-warning btn-xs" ng-click="uploader.queue[0].cancel()" ng-disabled="!uploader.queue[0].isUploading"> <span>取消</span> </button>
                    <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.queue[0].remove()"> <span>清空</span> </button>
                  </div>
                  </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- 圈子上传结束--> 
          
        </div>
        <!--  圈子设置结束-->
        <!--成员管理开始-->
        <div class="tab-panel" ng-show="vm.activeTab == 2">
          <div class="panel mp20">
            <table class="table table-condensed " id="guTbId">
              <thead>
                <tr>
                  <th></th>
                  <th>成员</th>
                  <th>角色</th>
                  <th>加入时间</th>
                  <th>发布话题数</th>
                  <th>最后访问时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              <tr><!--表格内容--></tr>
              </tbody>
            </table>
              <div class=" btn-group pull-right mp20"  data-toggle="buttons-radio">
                  <button type="button" class="btn " ng-click="groupUsersLastPage();"><i class="icon-double-angle-left"></i></button>
                  <button type="button" class="btn " ng-disabled="groupUsersNextPageState" ng-click="groupUsersNextPage();"><i class="icon-double-angle-right"></i></button>
              </div>
          </div>
        </div>
        <!--成员管理结束-->
        <!-- 话题管理开始-->
        <div class="tab-panel" ng-show="vm.activeTab == 3">
          <div class="alert with-icon "> <span class="mp7"> 话题查询： </span> <span class="col-md-3">
            <input type="text" class="form-control" placeholder="话题名称" ng-model="queryTopicTitle">
            </span> <span class="ml10">
            <button class="btn btn-info" ng-click="queryTopicsByTitle(queryTopicTitle);"><i class="icon-search"></i> 查询</button>
            </span> </div>
          <div class="panel mp20">
            <table class="table table-condensed " >
              <thead>
                <tr >
                  <th ><input name="check" type="checkbox" ng-model="groupTopics.allChecked" ng-change="gTopicsCheckAll(groupTopics.allChecked);" style="margin-left:10px;"/>
                    &nbsp;全选</th>
                  <th>话题</th>
                  <th>发布时间</th>
                  <th>发布人</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="groupTopic in groupTopics">
                  <td ><input type="checkbox" ng-model="groupTopic.checked" style="margin-left:10px;" ng-change="gTopicsCheckBoxChange();"/></td>
                  <td width="250"><span ><a href="#/group/{{groupTopic[1]}}/topic/{{groupTopic[0]}}" class="blue">{{groupTopic[5] |longMarkDynamic:35}}</a></span></td>
                  <td>{{groupTopic[7]}}</td>
                  <td><span class="blue">{{groupTopic[3]}}</span></td>
                  <td>
                    <span ng-if="groupTopic[10]=='N'"><a href="javascript:;" class="blue ml10" ng-click="topTopic(groupTopic[0],'Y');"><i class="icon-eject"></i>&nbsp;置顶</a></span>
                    <span ng-if="groupTopic[10]=='Y'"><a href="javascript:;" class="blue ml10" ng-click="topTopic(groupTopic[0],'N');"><i class="icon-share-alt"></i>&nbsp;解除置顶</a></span>
                    <span  class="blue ml10" ng-if="groupTopic[11]=='N'"><a href="javascript:;" class="blue ml10" ng-click="essenceTopic(groupTopic[0],'Y');"><i class="icon-star"></i>&nbsp;精华</a></span>
                    <span  class="blue ml10" ng-if="groupTopic[11]=='Y'"><a href="javascript:;" class="blue ml10" ng-click="essenceTopic(groupTopic[0],'N');"><i class="icon-share-alt"></i>&nbsp;解除精华</a></span>
                    <span  class="blue ml10" ng-if="groupTopic[12]=='OK'"><a href="javascript:;" class="blue ml10" ng-click="forbidCommentTopic(groupTopic[0],'NR');"><i class="icon-ban-circle"></i>&nbsp;禁止评论</a></span>
                    <span  class="blue ml10" ng-if="groupTopic[12]=='OK'"><a href="javascript:;" class="blue ml10" ng-click="forbidCommentTopic(groupTopic[0],'HD');"><i class="icon-eye-close"></i>&nbsp;隐藏</a></span>
                    <span  class="blue ml10" ng-if="groupTopic[12]=='NR'"><a href="javascript:;" class="blue ml10" ng-click="forbidCommentTopic(groupTopic[0],'OK');"><i class="icon-share-alt"></i>&nbsp;允许评论</a></span>
                    <span  class="blue ml10" ng-if="groupTopic[12]=='HD'"><a href="javascript:;" class="blue ml10" ng-click="forbidCommentTopic(groupTopic[0],'OK');"><i class="icon-share-alt"></i>&nbsp;恢复显示</a></span>
                    <span  class="blue ml10"><a href="javascript:;" class="blue ml10" ng-click="showDeleteTopicFormSingle(groupTopic[0]);"><i class="icon-remove"></i>&nbsp; 删除</a></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pull-right">
               <ul class="pager pager-pills">
                   <li class="previous" id="LastPageLi"><a href="javascript:;" ng-click="groupTopicsLastPage();">«</a></li>
                   <li ng-repeat="bursterPageNumber in bursterPageNumbers" id="pageLi{{bursterPageNumber}}" class="bursterPageLis" on-finish-render-filters><a href="javascript:;" ng-click="findTopicsOfGroup(bursterPageNumber,topicsPageSize,queryTopicTitle);">{{bursterPageNumber+1}}</a></li>
                   <li class="next" id="NextPageLi"><a href="javascript:;" ng-click="groupTopicsNextPage();">»</a></li>
               </ul>
            </div>
            <div class="col-md-12 mp20 marginb" style="float:left;">
              <button type="button" class="btn btn-info pull-right" ng-disabled="multiDeleteTopicsState" ng-click="showDeleteTopicFormMulti();">批量删除</button>
            </div>
          </div>
        </div>
        
        <!-- 话题管理结束-->
        <!--加入审核开始-->
        <div class="tab-panel" ng-show="vm.activeTab == 4">
            <div class="panel mp20">
                <table class="table table-condensed " >
                    <thead>
                    <tr >
                        <th ><input name="check" type="checkbox" ng-model="groupWaitUsers.allChecked" ng-change="gWUCheckAll(groupWaitUsers.allChecked);" style="margin-left:10px;"/>
                            &nbsp;全选</th>
                        <th>用户</th>
                        <th>验证信息</th>
                        <th>申请时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="groupWaitUser in groupWaitUsers">
                        <td ><input  type="checkbox"  style="margin-left:10px;" ng-model="groupWaitUser.checked" ng-change="gWUCheckBoxChange();"/></td>
                        <td><span ><a href="" class="blue">{{groupWaitUser.name}}</a></span></td>
                        <td>{{groupWaitUser.vm}}</td>
                        <td>{{groupWaitUser.joinTime}}</td>
                        <td>
                            <span><a href="javascript:;" class="blue" ng-click="agreedToJoin(groupWaitUser);"><i class="icon-ok"></i> 同意加入</a></span>
                            <span><a href="javascript:;" class="blue ml10" ng-click="refuseToJoin(groupWaitUser);"><i class="icon-ban-circle"></i> 拒绝加入</a></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class=" btn-group pull-right mp20"  data-toggle="buttons-radio">
                    <button type="button" class="btn " ng-click="waitUsersLastPage();"><i class="icon-double-angle-left"></i></button>
                    <button type="button" class="btn " ng-disabled="waitUsersNextPageState" ng-click="waitUsersNextPage();"><i class="icon-double-angle-right"></i></button>
                </div>
                <div class="col-md-12 mp20 marginb" style="float:left;">

                    <button type="button" class="btn btn-info pull-right ml10" ng-disabled="multiRefuseToJoinState" ng-click="multiRefuseToJoin();">批量拒绝</button>
                    <button type="button" class="btn btn-info pull-right ml10" ng-disabled="multiAgreedToJoinState" ng-click="multiAgreedToJoin();">批量加入</button>
                </div>
            </div>
        </div>
        <!-- 加入审核结束-->
        <!--黑名单开始-->
        <div class="tab-panel" ng-show="vm.activeTab == 5">
          <div class="panel mp20">
            <table class="table table-condensed " >
              <thead>
                <tr >
                  <th ><input name="check" type="checkbox" ng-model="groupHoldUsers.allChecked" ng-change="gHUCheckAll(groupHoldUsers.allChecked);" style="margin-left:10px;"/>
                    &nbsp;全选</th>
                  <th>用户</th>
                  <th>加入黑名单时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="groupHoldUser in groupHoldUsers">
                  <td ><input name="check" type="checkbox" ng-model="groupHoldUser.checked"  ng-change="gHUCheckBoxChange();" style="margin-left:10px;"/></td>
                  <td><span ><a href="" class="blue">{{groupHoldUser.name}}</a></span></td>
                  <td>{{groupHoldUser.lastTime}}</td>
                  <td><span><a href="javascript:;" class="blue" ng-click="deleteFromHold(groupHoldUser.id,'U');"><i class="icon-remove"></i> 从黑名单中删除</a></span></td>
                </tr>
              </tbody>
            </table>
            <div class=" btn-group pull-right mp20"  data-toggle="buttons-radio">
               <button type="button" class="btn " ng-click="holdUsersLastPage();"><i class="icon-double-angle-left"></i></button>
               <button type="button" class="btn " ng-disabled="holdUsersNextPageState" ng-click="holdUsersNextPage();"><i class="icon-double-angle-right"></i></button>
            </div>
            <div class="col-md-12 mp20 marginb" style="float:left;">
              <button type="button" class="btn btn-info pull-right" ng-disabled="multiDeleteFromHoldState" ng-click="multiDeleteFromHold();">批量删除</button>
            </div>
          </div>
        </div>
        <!-- 黑名单结束--> 
      </div>
    </div>
  </div>
</div>
<!--删除提示框(删除单个话题)开始-->
<div class="modal fade"  id="delTopicSingle" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" > <i class="icon-remove"></i> 话题删除 </h4>
            </div>
            <div class="modal-body"> 您确定要此话题吗，亲 </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mini btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-mini btn-info"  ng-click="deleteTopic(deleteTopicIds);">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--删除提示框(删除单个话题)结束-->
<!--删除提示框(删除多个话题)开始-->
<div class="modal fade"  id="delTopicMulti" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" > <i class="icon-remove"></i> 话题删除 </h4>
            </div>
            <div class="modal-body"> 您确定要此话题吗，亲 </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mini btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-mini btn-info"  ng-click="multiDeleteTopics(deleteTopicIds);">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--删除提示框(删除多个话题)结束-->
