<div class="container" >
  <div class="cont" > 

    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="#"> <i class="icon-location-arrow"></i> 首页</a></li>
        <li><a href="#/messages">消息主页</a></li>
        <li class="active">消息详细</li>
      </ul>
          <!-- 系统消息结开始-->
      <div class="col-md-12 marginb">
        <div class="panel">
          <div class="panel-heading"><i class="icon-bullhorn"></i> 系统通知</div>
          <div class="panel-body marginb">
            <div class="pull-right"><span class="text-muted"></span> &nbsp;<span>2014-5-5</span></div>
            <p>尊敬的用户您好：</p>
            <div class="text">
              <P>您在2014-10-23,10:12分发布产品，已经审核成功，我们已为您发布到网站上,您可以到产品详细查看.</P>
            </div>
          </div>
        </div>
      </div>
   
    <!-- 系统消息结束--> 
    <!-- 用户消息开始-->
    <div class="col-md-12 marginb">
        <div class="panel">
          <div class="panel-heading"><i class="icon-bullhorn"></i> 用户消息 </div>
          <div class="panel-body marginb">
            <div>
              <blockquote>
                <p class="blue">当我们谈论人脸识别，我们谈些什么？<span><a href=""class="label label-info hrewf pull-right" data-toggle="modal" data-target="#huifuxiaoxi" >回复</a></span><small class="blue mr20 pull-right">小白HHHH</small></p>
              </blockquote>
              <div class="text">
                <P> 好莱坞大片中，刷脸打开防盗系统，帮忙抓逃犯，想必您一定看过吧？  
                  考勤，刷脸签到，还想代刷卡吗？  PC、手机，刷脸解锁，想破解，可能吗？ 
                  和明星大咖PK，你也是明星脸？ 
                  购物支付，刷脸即可搞定？  
                  人脸识别？ 刷脸行天下——快速实现身份识别，人脸识别技术无疑是最佳的选择，且准确率超过99%，比肉眼识别更加精准，超过Facebook、FBI哦！
                  说说你最希望人脸识别用在什么地方？我们会随机抽取3个幸运儿送出语音云限量版充电宝哦！</P>
              </div>
              <div class="col-md-12 "><span class="pull-right">10：12 &nbsp;2014-5-5</span></div>
            </div>
          
            <section class="comments-list">
              <div id="pinglunhou2" style="background-color: #e0f1fa; border-radius:4px; margin-bottom:5px; padding-left:5px; padding-right:5px;  margin-top:22px;" ng-mouseenter="item.hui=true"
            ng-mouseleave="item.hui=false" >
                <div class="ha30" > <span class="blue">我</span>&nbsp;回复<span class="blue">&nbsp;小白LH</span>:&nbsp;魏家四兄弟之一的魏应充还主动向台湾食品GMP发展协会请... </div>
                <div class="ha30" >回复于  1秒前 <span class="pull-right" ><a href=""class=" label label-info hrefw mp10" id="ff" ng-style="{display: item.hui?'block':'none'}"  ng-mouseenter="item.hui=true"
            ng-mouseleave="item.hui=false" data-toggle="modal" data-target="#delMessage" > 删除</a></span></div>
              </div>
            </section>
            <div>
              <blockquote>
                <p > 好莱坞大片中，刷脸打开防盗系统，人脸识别？ 刷脸行天下——快速实现身份识别，人脸识别技术无疑是最佳的选择，且准确率超过99%，比肉眼识别更加精准，超过Facebook、FBI哦！
                  说说你最希望人脸识别用在什么地方？我们会随机抽取3个幸运儿送出语音云限量版充电宝哦！<span><a href=""class="pull-right blue" data-toggle="modal" data-target="#huifuxiaoxi" title="回复"><i class="icon-comment"></i></a></span><small class="blue mr20 pull-right">小白HHHH</small></p>
              </blockquote>
              <div class="col-md-12 "><span class="pull-right">10：12 &nbsp;2014-5-5</span></div>
            </div>
            <section class="comments-list">
              <div id="pinglunhou2" style="background-color: #e0f1fa; border-radius:4px; margin-bottom:5px; padding-left:5px; padding-right:5px;  margin-top:22px;" ng-mouseenter="item.hui=true"
            ng-mouseleave="item.hui=false" >
                <div class="ha30" > <span class="blue">我</span>&nbsp;回复<span class="blue">&nbsp;小白LH</span>:&nbsp;魏家四兄弟之一的魏应充还主动向台湾食品GMP发展协会请... </div>
                <div class="ha30" >回复于  1秒前 <span class="pull-right" ><a href=""class=" label label-info hrefw mp10" id="ff" ng-style="{display: item.hui?'block':'none'}"  ng-mouseenter="item.hui=true"
            ng-mouseleave="item.hui=false" data-toggle="modal" data-target="#delMessage" > 删除</a></span></div>
              </div>
            </section>
     
          </div>
        </div>
      </div> 
    
    <!-- 用户消息结束--> 
     </div>
  </div>
</div>
