<div class="container" >
  <div class="cont" > 

    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="#"> <i class="icon-location-arrow"></i> 首页</a></li>
        <li><a href="#/messages">消息主页</a></li>
        <li class="active">消息详情</li>
      </ul>
 <!-- 系统消息结开始-->
      <div class="col-md-12 marginb" ng-show="messageInfo.level=='S'">
        <div class="panel">
          <div class="panel-heading"><i class="icon-bullhorn"></i> 系统通知</div>
          <div class="panel-body marginb">
            <div class="pull-right"><span class="text-muted"></span> &nbsp;<span>2014-5-5</span></div>
            <p>尊敬的用户您好：</p>
            <div class="text">
              <P>您在2014-10-23,10:12分发布产品，已经审核成功，我们已为您发布到网站上,您可以到产品详细查看.</P>
            </div>
          </div>
        </div>
      </div>
    <!-- 系统消息结束--> 
    <!-- 用户消息开始-->
    <div class="col-md-12 marginb" ng-show="messageInfo.level=='U'">
        <div class="panel">
          <div class="panel-heading"><i class="icon-bullhorn"></i> 用户消息 <span><a href="" class="label label-info hrewf pull-right ml10" data-toggle="modal" data-target="#replyFrom" >回复</a></span><span><a href="" data-toggle="modal" data-target="#delMessage" class="label ml10 pull-right" > 删除 </a></span></div>
          <div class="panel-body marginb">
            <div>
              <blockquote>
                <p class="blue">{{messageInfo.title}}<small class="blue mr20 pull-right">{{messageInfo.from}}</small></p>
              </blockquote>
              <div class="text">
                <P>{{messageInfo.msg}}</P>
              </div>
              <div class="col-md-12 "><span class="pull-right">{{messageInfo.time}}</span></div>
            </div>
          </div>
        </div>
      </div>

    <!-- 用户消息结束--> 
     </div>
  </div>
</div>
 <!--回复消息框开始-->
<div class="modal" id="replyFrom" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="resizedModalTitle"> <i class="icon-comments-alt"></i> 回复消息 </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" ng-model="replyMessageForm" name="replyMessageForm">
                    <div class="container" >
                        <div class="col-md-12">
                            <div class="form-group mp20">
                                <label class="col-md-3 control-label bluezi">回复主题：</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type='text'  class='form-control' ng-model="replyMessageForm.title" name="replyMessageForm_title" required="true" placeholder="请输入标题"/>
                  <span class="input-group-btn">
                  <button class="btn btn-info" type="button"><i class="icon-comment-alt"></i></button>
                  </span> </div>
                                </div>
                                <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="replyMessageForm.replyMessageForm_title.$dirty && replyMessageForm.replyMessageForm_title.$error.required"> *标题不能为空</div>
                            </div>
                            <div class="form-group mp20">
                                <label class="col-md-3 control-label bluezi">回复内容：</label>
                                <div class="col-md-9">
                                    <textarea name="replyMessageForm_content" cols="" rows="" class="teax" placeholder="请输入内容" ng-model="replyMessageForm.content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-info" data-dismiss="modal" ng-disabled="replyMessageForm.$invalid" ng-click="sendMessage(replyMessageForm);">发送</button>
        </div>
    </div>
</div>
<!--回复消息框结束-->
<!-- 确认删除消息弹框开始-->
<div class="modal fade"  id="delMessage" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
    <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" > <i class="icon-remove"></i> 回复删除 </h4>
            </div>
            <div class="modal-body"> 您确定要删除此条回复吗，亲 </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-mini btn-default" data-dismiss="modal">取消</button>
                <a href="#/messages" class="btn btn-mini btn-info"  ng-click="removeMessage();">确定</a>
            </div>
        </div>
    </div>
</div>
<!-- 确认删除消息弹框结束-->