
<div class="container" >
  <div class="cont" style=" margin-top:20px;" >
    <div class="col-md-12">
      <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
        <li ng-class="{active: vm.activeTab == 1}" ><a href="javascript:;" ng-click="vm.activeTab = 1">新闻发布</a></li>
      </ul>
      <div class="tab-content tab-bordered" >
        <div class="tab-panel" ng-show="vm.activeTab == 1">
          <div class="col-md-12">
            <table class="table table-hover">
              <tbody>
                <tr>
              <!--    <td><a href="#/news">请问有VPN服务器功能？</a>    <small class="label label-info" title="" ><i class="icon-star"></i> 置顶</small></td>
                  <td>来源：某某网站</td>
                  <td>1小时前</td>
                </tr>
                <tr>
                  <td><a href="">能把路由里面的硬盘映射为本地一个带盘符的磁盘么</a></td>
                  <td>来源：某某网站</td>
                  <td>1小时前</td>
                </tr>
                <tr>
                  <td><a href="">请问有VPN服务器功能？</a></td>
                  <td>来源：某某网站</td>
                  <td>1小时前</td>-->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
