<style type="text/css">

.comment ul li { float: left; display: block; width: 40px; }

</style>

<div class="container" >
  <div class="cont" >
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">新闻</a></li>
        <li class="active">详细</li>
      </ul>
      <div class="col-md-12">
       
          <div class="text">
              <div id="content"></div>
            <p >便便小姐依旧每天喷着洗衣粉般味道的香水在我面前乱晃，告诉我该来的总会来不该来的总会走。我知道她这句话是在安慰受伤的我。可是怎么听怎么觉得是在诅咒我。我习惯性的推开便便，希望她能跟我保持一米的安全距离。</p>
            <p >她极力的靠近我说要告诉我一个特大重磅惊天大新闻，当然她告诉我的不过是公司里最近都在讨论的要新来的同事，其实，对于公司新来同事我已经见怪不怪了，虽然我嘴上说着很怀疑便便的审美，心里却在默默盘算，能从她口中蹦出美女两个字实在是不容易，因为她一直以来都认为她自己是整个生物界最美的。</p>
            <p >所以，依据她的描述，不知道这个美女会不会有着范冰冰的脸型，赵薇的眼睛，舒淇的嘴唇，林志玲的身材，莫文蔚的腿型，张曼玉的气质，汤唯的知性……</p>
            <p><img src="images/quanzitu.jpg" width="850" height="850"></p>
          </div>
          
      </div>
        
    </div>
  </div>
</div>
</div>
