<!--  新闻详细页面  -->
<style type="text/css">
.comment ul li { float: left; display: block; width: 40px; }
</style>

<div class="container" >
  <div class="cont" >
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li><a href="#">新闻</a></li>
        <li class="active">详细</li>
      </ul>
        <div class="alert with-icon mp10" id="Examine"> <i class="icon-info-sign"></i>
            <div class="content"> 需要审核的新闻内容
                <div class="btn-group pull-right">
                    <button class="btn btn-info" ><i class="icon-ok-sign"></i> 审核通过</button>
                    <button class="btn btn-info"> <i class="icon-remove-sign"></i> 不予通过</button>
                </div>
            </div>
        </div>
      <div class="col-md-12">
          <div class="text">
              <div class="title blue"><span id="newTitle"><!-- 标题 --></span> <small><span class="pull-right ml10" id="newAuthor"><!-- 作者 --></span><span class="pull-right ml10" id="newSource"><!-- 作者 --></span> <span class="pull-right ml10" id="newCreateTime"><!-- 时间 --></span></small></div>
              <div id="content"><!-- 新闻内容 --></div>
            <p><img src="images/quanzitu.jpg" width="850" height="850"></p>
          </div>
      </div>
    </div>
  </div>
</div>
