<div ng-controller="ProductListCtrl">
<div class="container" >
  <div class="cont" style=" margin-top:-20px;"> 
    <!--中间导航开始-->
    <div class="menu mp20"><i>最新推荐</i>
      <p>&nbsp; </p>
    </div>
    <ul  class="list-group" style="margin-top:20px;">
      <li  class="list-group-item"><span>属性：</span>
          <a ng-repeat="attribute in attributes" href="javascript:;" ng-if="$first" class="active" ng-click="queryBySth('attribute',attribute[1])">{{attribute[0]}}</a>
          <a ng-repeat="attribute in attributes" href="javascript:;" ng-if="!$first" ng-click="queryBySth('attribute',attribute[1])">{{attribute[0]}}</a>
      </li>
      <li  class="list-group-item"><span>分类：</span>
          <a  ng-repeat="category in categorys" href="javascript:;" ng-if="$first" class="active" ng-click="queryBySth('category',category[1])">{{category[0]}}</a>
          <a  ng-repeat="category in categorys" href="javascript:;" ng-if="!$first" ng-click="queryBySth('category',category[1])">{{category[0]}}</a>
      </li>
      <li  class="list-group-item"><span>排序：</span>
          <a ng-repeat="sort in sorts" href="javascript:;" ng-if="$first" class="active" ng-click="queryBySth('sort',sort[1])">{{sort[0]}}</a>
          <a ng-repeat="sort in sorts" href="javascript:;" ng-if="!$first" ng-click="queryBySth('sort',sort[1])">{{sort[0]}}</a>
      </li>
    </ul>

    <!-- 列表开始 -->
    
    <div class="list">
      <section class="cards" >
        <div  ng-repeat=" product in products" class="col-md-3 col-sm-6 col-lg-3">
          <div class="card"><p><img ng-src="images/products/{{product[4]}}" alt="" width="223" height="165"></p><span class="caption">{{product[3]}}</span> <a href="#/productDetail/{{product[1]}}" class="card-heading"><span>{{product[3]}}</span></a>
            <P class="listp"><span class="hui">{{product[5]+'&'+product[6] | datemark}}</span>
                <span class='label label-success pull-right' ng-show="product[7]=='ON'">{{product[8]}}</span>
                <span class='label label-warning pull-right' ng-show="product[7]=='TBA'">{{product[8]}}</span>
                <span class='label label-default pull-right' ng-show="product[7]=='OFF'">{{product[8]}}</span>
            </P>
            <div class="col-md-4 ha20"  >¥{{product[12] | nullToZero}}</div>
            <div class="col-md-4 ha20" >{{product[9] |nullToZero}}</div>
            <div class="col-md-4 pull-right ha20" >{{product[10] | nullToZero}}人</div>
            <div class="col-md-4 ha20 hui" >累计金额</div>
            <div class="col-md-4 ha20 hui" >话题</div>
            <div class="col-md-4 pull-right ha20 hui" >关注</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="mp20 marginb"><button  class="btn btn-info more" ng-click="nextPage();">查看更多</button></div>
</div>