<script type="text/javascript">
$(document).ready(function(e) {			
	t = $('.fudong').offset().top;
	mh = $('.main').height();
	fh = $('.fudong').height();
	$(window).scroll(function(e){
		s = $(document).scrollTop();	
		if(s > t - 20){
			$('.fudong').css('position','fixed');
			if(s + fh > mh){
				$('.fudong').css('top',+'px');	
			}				
		}else{
			$('.fudong').css('position','');
		}
	})
});

</script>

<div ng-controller="ProductShoppingCartCtrl">

  <div class="container" >
    <div class="cont" style=" margin-top:20px;" >
      <div class="col-md-12">
        <div class="fudong">
          <div class="ha30"><a href="javascript:;" class="btn btn-info" ng-click="multipleDelCartProduct(cartProductForm);" ng-disabled="multiDelCartProductState">删除选中商品</a> <span><a href=""class="btn btn-info pull-right mr20" ng-click="order(cartProductForm);" ng-disabled="orderCartProductState">购买</a></span><span class="pull-right mr20 ">购物车共&nbsp;<strong class="blue">{{allQuantity}}</strong>&nbsp;件,总金额共计:￥<strong class="blue">{{allCost | number:2}}</strong></span></div>
        </div>
        <table class="table table-hover main">
          <form ng-model="cartProductForm">
            <thead>
            <td><input name="check" type="checkbox" ng-model="cartProductForm.allChecked" ng-change="cartProductForm.checkAll(cartProductForm.allChecked);" />
              &nbsp;全选</td>
            <td></td>
            <td>商品信息</td>
            <td>单价（元）</td>
            <td>数量</td>
            <td>金额（元）</td>
            <td>操作</td>
              </thead>
              
            
            <tbody>
              <tr ng-repeat="cartProduct in cartProductForm.cartProducts track by $index" >
                <td><input name="check" type="checkbox" ng-model="cartProduct.checked" ng-value="cartProduct" ng-change="checkBoxChange(cartProductForm);"/></td>
                <td><img ng-src="images/products/{{cartProduct.image}}"  class="prdouctimg" /></td>
                <td>{{cartProduct.name}}</td>
                <td><strong>{{cartProduct.currentPrice}}</strong></td>
                <td><span>
                  <button class="btn btn-info btn-mini w20 " ng-click="quantityPlus(cartProduct);">+</button>
                  <span>
                  <input name="" type="text"  ng-value="cartProduct.quantity" class="input"/>
                  </span>
                  <button class="btn btn-info btn-mini w20 " ng-click="quantitySubtract(cartProduct);">-</button>
                  </span></td>
                <td><strong class="blue">¥{{cartProduct.amount}}</strong></td>
                <td><a href="" style="color:#39b3d7" data-toggle="modal" data-target="#delproduct" ng-click="showDeleteAlterForm(cartProduct);"><i  class="icon-trash" ></i></a></td>
                  </td>
              </tr>
            </tbody>
          </form>
        </table>
      </div>
    </div>
  </div>
  
  <!-- 确认删除弹框开始 -->
  <div class="modal"  id="delproduct" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" ng-show="delCartProductForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" > <i class="icon-remove"></i> 商品删除 </h4>
        </div>
        <div class="modal-body"> 您确定要删除吗，亲 </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="delCartProduct(toDelTheCartProduct);">确定</button>
        </div>
      </div>
      <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
  </div>
  <!-- 确认删除弹框结束 --> 
  
</div>
