<div ng-controller="ProductOrderCtrl">
<div class="container" >
  <div class="cont" style=" margin-top:20px;" >

    <div class="col-md-12">
      <legend >填写并核对您的订单信息 </legend>
      <div class="alert alert-info"> <strong>Hi!</strong> 请认真核对您的订单信息 ,以便商品购买。 </div>
      <!--收件人地址开始-->
      <p class="title">收件地址 <span><a href="" class=" titlea pull-right" data-toggle="modal"  ng-click="updateAddress();">修改收货地址</a></span></p>
        <!--修改收货人地址开始 -->
        <div ng-controller="UserAddressCtrl">
        <div class="col-md-12" ng-show="updateAddressFormState">
            <div class="col-md-9" >
                <p class="title">收货地址</p>
                <div class="alert alert-info"> <strong>Hi!</strong> 请认真填写您的收货地址,以便商品购买。 </div>
                <form class="form-horizontal" role="form" method="post" ng-model="deliveryAddress" name="deliveryAddress" novalidate="true">
                    <div class="form-group">
                        <label class="col-md-3 control-label" >收件人姓名：</label>
                        <div class="col-md-7">
                            <input type="text"  class="form-control" ng-model="deliveryAddress.c" placeholder="请输入联系人姓名" required="true" ng-pattern="/^[\u4e00-\u9fa5A-Za-z0-9_]{0,}$/"  name="deliveryAddress_c">
                        </div>
                        <div class="col-md-1">
                            <div ng-show="!(deliveryAddress.deliveryAddress_c.$error.required || deliveryAddress.deliveryAddress_c.$error.pattern)">&radic;</div>
                        </div>
                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_c.$dirty && deliveryAddress.deliveryAddress_c.$error.required"> 联系人不能为空</div>

                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_c.$dirty && deliveryAddress.deliveryAddress_c.$error.pattern"> 您输入的联系人格式有误，请改正</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" >省份/直辖市：</label>
                        <div class="col-md-2">
                            <select  class="form-control" ng-model="deliveryAddress.pi" ng-options="province[0] as province[1] for province in selectProvinces" name="deliveryAddress_pi">
                                <option value="" selected="selected">--省份--</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select  class="form-control" ng-model="deliveryAddress.ci" ng-options="city[0] as city[1] for city in selectCitys" name="deliveryAddress_ci">
                                <option value="" selected="selected">--地级市--</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select  class="form-control" ng-model="deliveryAddress.ai" ng-options="district[0] as district[1] for district in selectDistricts" name="deliveryAddress_ai">
                                <option value="" selected="selected">--市、县--</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <div ng-show="deliveryAddress.deliveryAddress_pi.$dirty && deliveryAddress.deliveryAddress_ci.$dirty && deliveryAddress.deliveryAddress_ai.$dirty">&radic;</div>
                            <div ng-show="!deliveryAddress.deliveryAddress_pi.$dirty">请选择省份</div>
                            <div ng-show="!deliveryAddress.deliveryAddress_ci.$dirty">请选择城市</div>
                            <div ng-show="!deliveryAddress.deliveryAddress_ai.$dirty">请选择地区</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align:right;">街道：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="deliveryAddress.s" name="deliveryAddress_s" placeholder="请输入街道地址名称" required="true" ng-pattern="/^[\u4e00-\u9fa5A-Za-z0-9_]{0,}$/">
                        </div>
                        <div class="col-md-1">
                            <div ng-show="!(deliveryAddress.deliveryAddress_s.$error.required || deliveryAddress.deliveryAddress_s.$error.pattern)">&radic;</div>
                        </div>
                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_s.$dirty && deliveryAddress.deliveryAddress_s.$error.required">街道地址不能为空</div>

                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_s.$dirty && deliveryAddress.deliveryAddress_s.$error.pattern"> 您输入的街道地址格式有误，请改正</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align:right;">详细地址：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="deliveryAddress.a" name="deliveryAddress_a" placeholder="请输入详细地址" required="true" ng-pattern="/^[\u4e00-\u9fa5A-Za-z0-9_]{0,}$/">
                        </div>
                        <div class="col-md-1">
                            <div ng-show="!(deliveryAddress.deliveryAddress_a.$error.required || deliveryAddress.deliveryAddress_a.$error.pattern)">&radic;</div>
                        </div>
                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_a.$dirty && deliveryAddress.deliveryAddress_a.$error.required">详细地址不能为空</div>

                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_a.$dirty && deliveryAddress.deliveryAddress_a.$error.pattern"> 您输入的详细地址格式有误，请改正</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align:right;">邮政地址：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="deliveryAddress.z" name="deliveryAddress_z" placeholder="请输入邮政编码" required="true" ng-pattern="/^[1-9]\d{5}(?!\d)$/"/>
                        </div>
                        <div class="col-md-1">
                            <div ng-show="!(deliveryAddress.deliveryAddress_z.$error.required || deliveryAddress.deliveryAddress_z.$error.pattern)">&radic;</div>
                        </div>
                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_z.$dirty && deliveryAddress.deliveryAddress_z.$error.required">邮政编码不能为空</div>

                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_z.$dirty && deliveryAddress.deliveryAddress_z.$error.pattern"> 您输入的邮编格式有误，请改正</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align:right;">手机号码：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="deliveryAddress.m" name="deliveryAddress_m" placeholder="请输入手机号码" required="true" ng-pattern="/^1[3|5|7|8|][0-9]{9}$/">
                        </div>
                        <div class="col-md-1">
                            <div ng-show="!(deliveryAddress.deliveryAddress_m.$error.required || deliveryAddress.deliveryAddress_m.$error.pattern)">&radic;</div>
                        </div>
                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_m.$dirty && deliveryAddress.deliveryAddress_m.$error.required">手机号不能为空</div>

                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_m.$dirty && deliveryAddress.deliveryAddress_m.$error.pattern"> 您输入的手机号格式有误，请改正</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align:right;">固定电话：</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="deliveryAddress.t" name="deliveryAddress_t" placeholder="请输入电话号码" required="true" ng-pattern="/^(\d{3,4}-)\d{7,8}$/">
                        </div>
                        <div class="col-md-1">
                            <div ng-show="!(deliveryAddress.deliveryAddress_t.$error.required || deliveryAddress.deliveryAddress_t.$error.pattern)">&radic;</div>
                        </div>
                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_t.$dirty && deliveryAddress.deliveryAddress_t.$error.required">电话号码不能为空</div>

                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_t.$dirty && deliveryAddress.deliveryAddress_t.$error.pattern"> 您输入的电话号码格式有误，请改正</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" style="text-align:right;">电子邮箱：</label>
                        <div class="col-md-7">
                            <input type="email" class="form-control" ng-model="deliveryAddress.e" name="deliveryAddress_e" placeholder="请输入电子邮箱地址" required="true">
                        </div>
                        <div class="col-md-1">
                            <div ng-show="!(deliveryAddress.deliveryAddress_e.$error.required || deliveryAddress.deliveryAddress_e.$error.email)">&radic;</div>
                        </div>
                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_e.$dirty && deliveryAddress.deliveryAddress_e.$error.required">电子邮箱不能为空</div>

                        <div class="col-md-7 col-md-offset-4 ha30 blue" ng-show="deliveryAddress.deliveryAddress_e.$dirty && deliveryAddress.deliveryAddress_e.$error.email"> 您输入的电子邮箱格式有误，请改正</div>
                    </div>


                    <div class="col-md-12 text-center"><button class="btn btn-info" ng-click="save(deliveryAddress)" ng-disabled="deliveryAddress.$invalid">确定保存</button></div>
                </form>
                <p class="title">已有收货地址</p>
                <div>
                    <table class="table table-hover">
                        <tbody>
                        <tr ng-repeat="userAddress in userAddressesBefore" ng-if="userAddress[11]=='Y'">
                            <td><input name="address" type="radio" value="{{userAddress[0]}}"></td>
                            <td>{{userAddress[6]+userAddress[8]+userAddress[9]+userAddress[10]}}</td>
                            <td><span class="label label-info large" ng-click="updateDefaultInOrder(userAddress[0])"><a href="">默认地址</a></span></td>
                            <td><a href="" ><i class="icon-pencil"></i></a></td>
                            <td><a href="" style="color:#39b3d7"><i class="icon-trash" ng-click="delete(userAddress[0])"></i></a></td>
                        </tr>
                        <tr ng-repeat="userAddress in userAddressesBefore" ng-if="userAddress[11]=='N'">
                            <td><input name="address" type="radio" value="{{userAddress[0]}}"></td>
                            <td>{{userAddress[6]+userAddress[8]+userAddress[9]+userAddress[10]}}</td>
                            <td><span class="label label-info large" ng-click="updateDefaultInOrder(userAddress[0])"><a href="">设置为默认地址</a></span></td>
                            <td><a href="" ><i class="icon-pencil"></i></a></td>
                            <td><a href="" style="color:#39b3d7"><i class="icon-trash" ng-click="delete(userAddress[0])"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <!--修改收货人地址结束-->

        <!--显示收货人信息开始-->
      <div class="alert with-icon "> <strong>收货人信息 </strong>
        <div class="content">
          <div class="ha30"><span>{{defaultDisaplayAddress[2]}}</span> <span>{{defaultDisaplayAddress[4]}}</span> <span>{{defaultDisaplayAddress[5]}}</span></div>
          <div class="ha30"><span>{{defaultDisaplayAddress[6]}}</span> <span>{{defaultDisaplayAddress[8]}}</span> <span>{{defaultDisaplayAddress[9]}}</span><span>{{defaultDisaplayAddress[10]}}</span></div>
        </div>
      </div>


      <!--收件人地址结束-->
        <form ng-model="orderForm">
      <!--支付方式开始-->
      <div class="alert with-icon "> <strong>支付方式 </strong>
        <div class="content">
          <div class="ha30" ng-repeat="payment in orderForm.payments">
            <input name="radio" type="radio" ng-value="payment[1]" ng-model="payment.$radioBox">
            {{payment[0]}} <span class="ml20 blue"> {{payment[2]}}</span>
          </div>

      </div>
          </div>
      <!--支付方式结束--> 
      <!--配送方式开始-->
      <div class="alert with-icon "> <strong>配送方式 </strong>
        <div class="content">
          <p>由本公司负责配送，速度很快，还接受上门刷卡付款服务. </p>
          <strong class="ha20">温馨提示：</strong>
          <p class="ha20">1.我们会努力按照您指定的时间配送，但因天气、交通等各类因素影响，您的订单有可能会有延误现象！</p>
          <p class="ha20">2.部分服务仅在配送区域提供，非配送区域无法选择，请您谅解。</p>
        </div>
      </div>
          <!--配送方式结束-->
        <div class="alert with-icon "> <strong>商品清单</strong> </div>
        <table class="table table-hover">
            <tbody>
            <thead>
            <td></td>
            <td>商品信息</td>
            <td>单价（元）</td>
            <td>数量</td>
            <td>金额（元）</td>
            <td>库存状态</td>
            </thead>

            <tr ng-repeat="orderProductInfo in orderForm.orderProductsInfo">


                <td><input name="" type="checkbox"  ng-value="orderProductInfo" ng-model="orderProductInfo.$selectedOrder" ng-change="checkBoxChange(orderForm);"></td>

                <!--<td><img ng-src=""  class="prdouctimg" /></td>-->
                <td>{{orderProductInfo.name}}</td>
                <td><strong>{{orderProductInfo.currentPrice}}</strong></td>
                <td><span> <span>{{orderProductInfo.quantity}}</span> </span></td>
                <td><strong class="blue">¥{{orderProductInfo.amount | number:2}}</strong></td>
                <td>{{orderProductInfo.inventoryStatus}}</td>
            </tr>

            </tbody>
        </table>
        <p class="title">备注</p>
        <div class="col-md-12">
            <textarea name="" cols="" rows="" style="width:100%; height:100px; border:1px solid #ccc; margin-bottom:20px;" ng-model="orderForm.comment"></textarea>
        </div>
        <div class="alert with-icon ">
            <div class="content">
                <div class="ha30 pull-right col-md-12"> <span ><strong>总商品金额：</strong></span> <span  style="width:100px; text-align:right">￥{{costAll | number:2}}</span></div>
            </div>
            <div class="ha30 pull-right col-md-12"> <span class="mr40"><strong>运费：</strong></span> <span  style="width:100px; text-align:right">￥10.00</span> </div>
            <div class="ha30 pull-right">应付总额：￥<strong class="blue">{{costAll+10 | number:2}}</strong>元 <span><a href="javascript:;" class="btn btn-info" ng-click="balance(orderForm);" ng-disabled="balanceButtonState">结算</a></span></div>
        </div>


        </form>
      </div>

  </div>

</div>
</div>

</div>