<div class="container">
  <div class="cont" >
    <div class="col-md-12">
      <ul class="nav nav-tabs" ng-init="vm.activeTab=1">
        <li ng-class="{active: vm.activeTab == 1}" ><a href="javascript:;" ng-click="vm.activeTab = 1;publishNews()">发布新闻</a></li>
        <li ng-class="{active: vm.activeTab == 2}" ><a href="javascript:;" ng-click="vm.activeTab = 2;manageNews()">管理新闻</a></li>
        <li ng-class="{active: vm.activeTab == 3}" ><a href="javascript:;" ng-click="vm.activeTab = 3;tabSelect()">新闻审核</a></li>
      </ul>
      <div class="tab-content tab-bordered mp20  " >
        <div class="tab-panel" ng-show="vm.activeTab == 1">
          <div class="col-md-9 marginb">
            <form name="frmRelNews" ng-model="publish" class="form-horizontal" role="form" method='post'>
              <div class="col-md-12">
                <div class="alert with-icon mp10 "> <i class="icon-info-sign"></i>
                  <div class="content">请您发布正面新闻内容,我们团队及时为您审核,审核通过显示您的新闻内容。</div>
                </div>
                <div class="form-group marginb" style="margin-top:30px;">
                  <label class="col-md-2 bluezi" >新闻标题：</label>
                  <div class="col-md-10">
                    <input type="text" ng-model="publish.nTitle" name="nTitle" class="form-control" placeholder="请填写新闻标题" required/>
                  </div>
                </div>
                <div class="mp20" >
                  <div class="form-group " style="margin-top:30px;">
                    <label class="col-md-2 bluezi" >新闻来源：</label>
                    <div class="col-md-10">
                      <input type="text" ng-model="publish.Source" class="form-control" placeholder="请填写新闻来源" required/>
                    </div>
                  </div>
                </div>
                <div class="mp20">
                  <div class="form-group " style="margin-top:30px;">
                    <label class="col-md-2 bluezi" >新闻作者：</label>
                    <div class="col-md-10">
                      <input type="text" ng-model="publish.nAutor" class="form-control" placeholder="请填写作者姓名" required/>
                    </div>
                  </div>
                </div>
                <div class="form-group " style="margin-top:30px;">
                  <label class="col-md-2 bluezi" >新闻内容：</label>
                  <div class="col-md-10">
                      <script id="editor" type="text/plain" style="width:550px;height:200px;"></script>
                  </div>
                </div>
                  <div class="form-group " >
                      <label class="col-md-2 bluezi" ></label>
                      <div class="col-md-10">
                          <input  type="checkbox" ng-click="discuss()"/>
                          允许评论
                      </div>
                  </div>
                <div class="col-md-12 text-center mp20">
                  <button class="btn btn-info" ng-disabled="frmRelNews.$invalid" ng-click="submit(publish)">提交新闻</button>
                    <button class="btn btn-info ml10" ng-disabled="frmRelNews.$invalid" ng-click="preserve(publish)">保存审核</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        
        <!-- 新闻发布结束-->
        <div class="tab-panel" ng-show="vm.activeTab == 2">
          <div class="col-md-12 marginb">
            <form class="form-horizontal" role="form" method='post'>
                <div id="mangerNewPrompt"></div>
                <div class="panel mp20">
            <table class="table table-condensed" id="manageTab">
              <thead>
                <tr >
                  <th ><input name="check" type="checkbox" value="" ng-click="allCheck()" style="margin-left:10px;"/>
                    &nbsp;全选</th>
                  <th>新闻标题</th>
                  <th>发布时间</th>
                  <th>发布人</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr></tr>
              </tbody>
            </table>
            <div class="pull-left mp20"> <button type="button" class="btn btn-info" ng-click="batchDele()">批量删除</button></div>
                  <div class="pull-right">
                      <ul class="pager pager-pills">
                          <li class="previous" id="lastPageMag"><a href="javascript:;" ng-click="redPage('magePage');">«</a></li>
                          <li ng-repeat="bursterPageNumber in mangerPageNumbers" id="magPageLi{{bursterPageNumber}}" class="mangerPageLis" on-finish-render-filters><a href="javascript:;" ng-click="nPage('magePage',bursterPageNumber);">{{bursterPageNumber+1}}</a></li>
                          <li class="next" id="nextPageMag"><a href="javascript:;" ng-click="addPage('magePage');">»</a></li>
                      </ul>
                  </div>
          </div>
            </form>
          </div>
        </div>

        <!-- 新闻审核开始 -->
        <div class="tab-panel" ng-show="vm.activeTab == 3">
            <div class="col-md-12 marginb">
                <form class="form-horizontal" role="form" method='post'>
                    <blockquote>
                        <p class="blue">待审核新闻</p>
                    </blockquote>
                    <div class="panel mp20 ">
                        <table class="table table-condensed " >
                            <thead>
                            <tr >
                                <th ><span class="ml15">新闻标题</span></th>
                                <th>发布时间</th>
                                <th>发布人</th>
                                <th>操作</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody id="tbNewsExamine">
                                 <tr></tr>
                            </tbody>
                        </table>
                           <div id="examineNews"></div>  <!-- 判断是否有内容 -->
                           <div class="pull-right">
                                 <ul class="pager pager-pills">
                                    <li class="previous" id="LastPageLi">
                                        <a href="javascript:;" ng-click="redPage('waitExPage')">«</a>
                                    </li>
                                    <li ng-repeat="bursterPageNumber in tbExPage "id="exPageLi{{bursterPageNumber}}" class="exPageLis" on-finish-renderfilters>
                                        <a href="javascript:;" ng-click="nPage('waitExPage',bursterPageNumber);">{{bursterPageNumber+1}}</a>
                                    </li>
                                    <li class="next" id="NextPageLi">
                                        <a href="javascript:;" ng-click="addPage('waitExPage')">»</a>
                                    </li>
                                 </ul>
                            </div>
                    </div>
                    <blockquote class="mp20" style=" margin-top:80px;">
                        <p  class="blue">已审核新闻</p>
                    </blockquote>
                    <div class="panel mp20">
                        <table class="table table-condensed " >
                            <thead>
                            <tr >
                                <th ><span class="ml15">新闻标题</span></th>
                                <th>发布时间</th>
                                <th>发布人</th>
                                <th>操作</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tbody id="tbNewsAlready">
                            <tr></tr>
                            </tbody>
                        </table>
                          <div id="alreadyNews"></div>  <!-- 判断是否有内容 -->
                          <div class="pull-right">
                               <ul class="pager pager-pills">
                                    <li class="previous" id="LastPageLiAl">
                                        <a href="javascript:;" ng-click="redPage('alrExPage')">«</a>
                                     </li>
                                     <li ng-repeat="bursterPageNumber in tbAlPage "id="alPageLi{{bursterPageNumber}}" class="alPageLis" on-finish-renderfilters>
                                        <a href="javascript:;" ng-click="nPage('alrExPage',bursterPageNumber);">{{bursterPageNumber+1}}</a>
                                     </li>
                                     <li class="next" id="NextPageLiAl">
                                        <a href="javascript:;" ng-click="addPage('alrExPage')">»</a>
                                     </li>
                               </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 新闻审核结束 -->
      </div>
    </div>
  </div>
</div>
<!-- 确认删除弹框 -->
<div class="modal fade"  id="delnews" tabindex="-1" role="dialog" aria-labelledby="resizedModalTitle" aria-hidden="true" >
  <div class="modal-dialog" style="margin-top: 182.33333333333334px; width:30%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" > <i class="icon-remove"></i> 新闻删除 </h4>
      </div>
      <div class="modal-body"> 您确定要删除所发布的新闻吗，亲 </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="singerDele(data.news[i][0])">确定</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
