<!--  订单详细页面  -->
<div class="container" >
  <div class="cont" style=" margin-top:20px;" >
    <div class="col-md-12">
      <legend >您的订单信息 </legend>
      <!--收件人地址开始-->
      <div id="receiptInformation"> <!-- 收件人地址 --> </div>
      <!--收件人地址结束--> 
      <!--支付方式开始-->
        <div id="payment"><!-- 支付方式 --></div>
      <!--支付方式结束--> 
      <!--配送方式开始-->
      <div class="alert with-icon "><strong>配送方式 </strong>
        <div class="content">
          <p>由本公司负责配送，速度很快，接受上门刷卡付款服务. </p>
        </div>
      </div>
      <!--配送方式结束-->
       <div class="alert with-icon "> <strong>商品清单</strong> </div>
       <table class="table table-hover">
         <tbody>
            <thead>
                <td></td>
                <td>商品信息</td>
                <td>单价（元）</td>
                <td>数量</td>
                <td>金额（元）</td>
                <td>库存状态</td>
            </thead>
             <tr><!-- 商品清单 --></tr>
         </tbody>
       </table>
         <div class="alert with-icon" id="Total"><!-- 总商品金额 --></div>
    </div>
  </div>
</div>

