
<div class="container" >
  <div class="cont" style=" margin-top:20px;" >
    <div class="col-md-12">
      <legend >您的订单信息 </legend>
      <!--收件人地址开始-->
      <div id="receiptInformation"> <!-- 收件人地址js --> </div>
      <!--收件人地址结束--> 
      <!--支付方式开始-->
        <div id="payment"></div>
    <!--  <div class="alert with-icon "> <strong>支付方式 </strong>
        <div class="content">
          <div class="ha30">
            <input name="radio" type="radio" value="" >
            货到付款 <span class="ml20 blue">送货上门后再收款，支持现金、POS机刷卡、支票支付</span></div>
          <div class="ha30">
            <input name="radio" type="radio" value="">
            在线付款 <span class="ml20 blue">即时到帐，支持绝大数银行借记卡及部分银行信用卡 </span></div>
          <div class="ha30">
            <input name="radio" type="radio" value="">
            公司转账 <span class="ml20 blue"> 转帐后1-3个工作日内到帐</span></div>
          <div class="ha30">
            <input name="radio" type="radio" value="">
            邮局汇款 <span class="ml20 blue"> 汇款后1-3个工作日到账</span></div>
        </div>
      </div>-->
      <!--支付方式结束--> 
      <!--配送方式开始-->
      <div class="alert with-icon "> <strong>配送方式 </strong>
        <div class="content">
          <p>由本公司负责配送，速度很快，接受上门刷卡付款服务. </p>
        </div>
      </div>
       <div class="alert with-icon "> <strong>商品清单</strong> </div>
       <table class="table table-hover">
      <tbody>
      <thead>
      <td></td>
        <td>商品信息</td>
        <td>单价（元）</td>
        <td>数量</td>
        <td>金额（元）</td>
        <td>库存状态</td>
          </thead>
             <tr> <!-- 商品清单 js --> </tr>
          </tbody>
    </table>
    
     <div class="alert with-icon" id="Total">
        <!--<div class="content">
            <div class="ha30 pull-right col-md-12"> <span ><strong>总商品金额：</strong></span> <span  style="width:100px; text-align:right">￥68.00</span></div>
        </div>
        <div class="ha30 pull-right col-md-12"> <span class="mr40"><strong>运费：</strong></span> <span  style="width:100px; text-align:right">￥10.00</span> </div>
        <div class="ha30 pull-right col-md-12"><strong class="ml10">实付金额：￥</strong><strong class="blue">78.00</strong>元</div>-->
    </div>
    </div>
    <!--配送方式结束-->
   
    
  </div>
</div>
</div>

